<form id="loginposition">
  <div class="loginheader">
      <h1 style="text-align:center">Login</h1>
  </div>
  <div class="container ">
    
    <label for="uname"  class="label"><i class="fa fa-user"></i>&nbsp;<b>Username</b></label>
    <input type="text" placeholder="Enter Username" name="uname" required>

    <label for="psw" class="label"><i class="fa fa-lock"></i>&nbsp;<b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="psw" required>
    <div class="text-align-center">
    <button type="submit" class="loginbtn">Login</button>
  </div>
  <a class="register-link" (click)="Registerform()" >Don't have account Register</a>   
    
  </div>

</form>
<form id="registerposition">
    <div class="loginheader">
    <h1 style="text-align:center">Register</h1>
    </div>
    <div class="container ">
      <label for="uname" class="label"><i class="fa fa-user"></i>&nbsp;<b>Username</b></label>
      <input type="text" placeholder="Enter Username" name="uname" required>
  
      <label for="email" class="label"><i class="fa fa-envelope"></i>&nbsp;<b>Email Id</b></label>
      <input type="email" placeholder="Enter Email Id" name="Email" required>
       
      <label for="phno" class="label"><i class="fa fa-phone"></i>&nbsp;<b>phone number</b></label>
      <input type="number" placeholder="Enter Phone number" name="Email" required>

      <label for="address" class="label"><i class="fa fa-address-book"></i>&nbsp;<b>Address</b></label>
      <textarea type="text" placeholder="Address.........." name="address" required></textarea>
      <div class="text-align-center">
      <button type="submit" class="loginbtn">Register Now</button>
      </div>
      <div class="text-align-center">
      <a class="register-link" (click)="Loginform()"  style="cursor: pointer;text-align: right"><i class="fa fa-sign-in"></i> &nbsp;Login</a>
    </div>
  </div>
  </form>