<ol class="breadcrumb" style="margin: 0 1%">
  <li><a href="#">Home</a></li>
  <li class="active">Information Centre</li>
</ol>

<div class="row"  style="padding: 0% 2%">

    <div class="page-header center full-width">
    <h2>Information Centre</h2>
  </div>
</div>

<div class="row" style="padding: 1% 10%">

  <div class="col-md-10">
    <h5 class="text-orange"><strong>Starting of Information centres to create awareness about the programmes for the welfare of minorities across the state</strong></h5>
    
    <p class="text-justify">
       As per the Government order No. MWD 400 MDS 2013 dated: 07.09.2013 the information centres in every district head quarters and also in Directorate of Minorities will be created and awareness programmes are taken up by organising workshops at taluka level.
       
       </p><ul>
        <li>Library Facility and other literature, journals will be provided to these information centres.</li>
        <li>Information regarding state and central Government schemes envisaged for upliftment of minorities and documents
                   will be furnished.</li>
       </ul>
    <p></p>
    <a href="GO.asp"><i class="far fa-arrow-alt-circle-down"></i> Government Orders</a>
      <br>
      
        <a href="Documents/Information Centre/Informtion Center - Building Rent.pdf"><i class="far fa-arrow-alt-circle-down"></i> Information Center - Building Rent 2018-19 </a>
     <br>
      
        <a href="Documents/Information Centre/Information Centers- OutSource salary.pdf"><i class="far fa-arrow-alt-circle-down"></i> Information Centre Outsource salary 3rd Installment 2018-19 </a>
     <br>
      <a href="Documents/Information Centre/3rd_Release of Grants for Information Center 2018-19.pdf"><i class="far fa-arrow-alt-circle-down"></i> Release of Grants for Information Center( 3rd_Installment_TIC ) 2018-19 </a>
     <br>

      <a href="Documents/Information Centre/Release of Grants for Information Center 2018-19.pdf"><i class="far fa-arrow-alt-circle-down"></i> Release of Grants for Information Center( 1st_Installment_TIC ) 2018-19 </a>
     <br>
      
      
      
    <a href="Documents/Information Centre/Dist &amp; Taluk Info Centre Releases 2017-18.pdf"><i class="far fa-arrow-alt-circle-down"></i> Release of Grants for District &amp; Taluk Information centres 2017-18 </a>
     <br>
  
    
     <h2>DISTRICT'S AND TALUK'S MINORITY INFORMATION CENTRE'S</h2>
    <a href="Documents/Information Centre/Details Of Information Centre.pdf"><i class="far fa-arrow-alt-circle-down"></i> District &amp; Taluk Wise Minority Information Centre Details  </a>
     <br>
     <br>
    
  

    
  </div>
<div class="col-sm-2"></div>
</div>