<style>
    .meeting_title_para a {
    color: #00008B;
    }
    .meeting_title {
    font-size: 16px;
    color: #66659d;
    font-weight: bold;
    }
    .panel-newheading {
    padding: 5px 0px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-top: 1px dotted #999;
    }
    .text-maroon {
    color: #d81b60 !important;
}
 </style>
 <div class="row">
    <div class="col-sm-3">
       <div class="col-md-3" style="max-width:100%">
          <h2>Schemes </h2>
          <!--<i class="fa    fa-quote-left text-orange"></i>-->
          <div class="meeting_title_para">
             <div class="panel-group">
                <div class="panel-newheading hover">
                   <a data-toggle="collapse" href="#collapse1" class="meeting_title collapsed" aria-expanded="false"><i class="glyphicon glyphicon-chevron-right"></i> Scholarship</a>				
                </div>
                <div id="collapse1" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
                   <div class="panel-body">
                      <ul>
                         <li><a href="Scholarship.asp" class="text-yellow">Scholarship</a></li>
                         <li><a href="PreMetricScholarship.asp" class="text-orange">Pre-Matric Scholarship</a></li>
                         <li><a href="PostMetricScholarship.asp" class="text-purple">Post-Matric Scholarship</a></li>
                         <li><a href="MeritCumMeansScholarship.asp" class="text-green">Merit-Cum-Means Scholarship</a></li>
                      </ul>
                   </div>
                </div>
                <div class="panel-newheading">
                   <a data-toggle="href" class="meeting_title" href="FeeReimbursement.asp">Fee Reimbursement</a>				
                </div>
                <div class="panel-newheading">
                   <a data-toggle="href" class="meeting_title" href="ForiegnScholarship.asp"> Foriegn Scholarship</a>				
                </div>
                <div class="panel-newheading">
                   <a data-toggle="href" class="meeting_title" href="Vidyasiri.asp"> Vidyasiri Scheme</a>				
                </div>
                <div class="panel-newheading">
                   <a data-toggle="href" class="meeting_title" href="Hostels.asp"> Hostels</a>				
                </div>
                <div class="panel-newheading">
                   <a data-toggle="collapse" href="#collapse2" class="meeting_title"><i class="glyphicon glyphicon-chevron-right"></i>  Residential Schools</a>				
                </div>
                <div id="collapse2" class="panel-collapse collapse">
                   <div class="panel-body">
                      <ul>
                         <li><a href="MDSchool.asp" class="text-red">Morarji Desai School</a></li>
                         <li><a href="MDCollege.asp" class="text-green">Morarji Desai College</a></li>
                         <li><a href="MuslimResSchool.asp" class="text-orange">Muslim Residential School</a></li>
                         <li><a href="ModelResSchool.asp" class="text-violet">Model Residential School</a></li>
                      </ul>
                   </div>
                </div>
                <div class="panel-newheading">
                   <a data-toggle="href" class="meeting_title" href="MASchool.asp"> Moulana Azad School</a>				
                </div>
                <div class="panel-newheading">
                   <a data-toggle="href" class="meeting_title" href="Shaadimahal.asp"> Shaadimahal Scheme</a>				
                </div>
                <div class="panel-newheading">
                   <a data-toggle="href" class="meeting_title" href="NursingParaMedicalTraining.asp"> Nursing and Para Medical</a>				
                </div>
                <div class="panel-newheading">
                   <a data-toggle="href" class="meeting_title" href="Trainings.asp"> Coaching/ Trainings</a>				
                </div>
                <div class="panel-newheading">
                   <a data-toggle="href" class="meeting_title" href="Bidaai.asp"> Bidaai</a>				
                </div>
                <div class="panel-newheading">
                   <a data-toggle="href" class="meeting_title" href="ChristianDevelopment.asp"> Christian Development</a>				
                </div>
                <div class="panel-newheading">
                   <a data-toggle="href" class="meeting_title" href="JainDevelopment.asp"> Jain/Sikh Development</a>				
                </div>
                <div class="panel-newheading">
                   <a data-toggle="collapse" href="#collapse3" class="meeting_title"><i class="glyphicon glyphicon-chevron-right"></i> Incentives (Uttejana)</a>				
                </div>
                <div id="collapse3" class="panel-collapse collapse">
                   <div class="panel-body">
                      <ul>
                         <li><a href="B.Ed.D.Ed..asp" class="text-black">B.Ed. &amp; D.Ed. Incentive </a></li>
                         <li><a href="IITIIMIISc.asp" class="text-orange">IIT, IIM, NIT &amp; IISc</a></li>
                         <li><a href="Journalism.asp" class="text-green">Journalism &amp; Mass Communication</a></li>
                         <li><a href="sslc_puc.asp" class="text-red">SSLC &amp; 2nd PUC</a></li>
                         <li><a href="IntegratedCourse.asp" class="text-violet">Integrated Course</a></li>
                      </ul>
                   </div>
                </div>
                <div class="panel-newheading">
                   <a data-toggle="href" class="meeting_title" href="MadarasaScheme.asp">Madarasa Schemes</a>				
                </div>
                <div class="panel-newheading">
                   <a data-toggle="href" class="meeting_title" href="MPhilPhD.asp"> M.Phil and Ph.D Fellowship</a>				
                </div>
                <div class="panel-newheading">
                   <a data-toggle="href" class="meeting_title" href="ColonyDevelopment.asp"> Colony Development</a>				
                </div>
                <div class="panel-newheading">
                   <a data-toggle="href" class="meeting_title" href="ReligiousMinorities.asp">Chair on Religious Minoritites</a>				
                </div>
             </div>
          </div>
       </div>
    </div>
    <div class="col-sm-6">
       <div class="container">
          <h2>Carousel Example</h2>
          <div id="myCarousel" class="carousel slide" data-ride="carousel">
             <!-- Indicators -->
             <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
             </ol>
             <!-- Wrapper for slides -->
             <div class="carousel-inner">
                <div class="item active">
                   <img src="assets/hall1.jpg" alt="Los Angeles" style="width:100%;">
                </div>
                <div class="item">
                   <img src="assets/hall2.jpg" alt="Chicago" style="width:100%;">
                </div>
                <div class="item">
                   <img src="assets/hall3.jpg" alt="New york" style="width:100%;">
                </div>
             </div>
             <!-- Left and right controls -->
             <a class="left carousel-control" href="#myCarousel" data-slide="prev">
             <span class="glyphicon glyphicon-chevron-left"></span>
             <span class="sr-only">Previous</span>
             </a>
             <a class="right carousel-control" href="#myCarousel" data-slide="next">
             <span class="glyphicon glyphicon-chevron-right"></span>
             <span class="sr-only">Next</span>
             </a>
          </div>
       </div>
       <div _ngcontent-c3="" class="row">
          <div _ngcontent-c3="" class="col-md-6">
             <h2 _ngcontent-c3="">Schemes </h2>
             <div _ngcontent-c3="" class="meeting_title_para">
                <div _ngcontent-c3="" class="panel-group">
                   <div _ngcontent-c3="" class="panel-newheading"><a _ngcontent-c3="" class="meeting_title" data-toggle="href" href="SSAKResearchCentre.asp">Sir Syed Ahmed Khan Study and Research Centre</a></div>
                   <div _ngcontent-c3="" class="panel-newheading"><a _ngcontent-c3="" class="meeting_title" data-toggle="href" href="DistLevelSchemes.asp">District Level Schemes </a></div>
                   <div _ngcontent-c3="" class="panel-newheading"><a _ngcontent-c3="" class="meeting_title" data-toggle="href" href="MSDP.asp">MSDP</a></div>
                   <div _ngcontent-c3="" class="panel-newheading"><a _ngcontent-c3="" class="meeting_title" data-toggle="href" href="PMProgramme.asp">Prime Minister 15 Point Program</a></div>
                   <div _ngcontent-c3="" class="panel-newheading"><a _ngcontent-c3="" class="meeting_title" data-toggle="href" href="CMSchemes.asp"> Chief Minister Schemes </a></div>
                </div>
             </div>
          </div>
          <div _ngcontent-c3="" class="col-md-6">
             <div _ngcontent-c3="">
                <h2 _ngcontent-c3="">Notifications</h2>
                <div _ngcontent-c3="" class="meeting_title_para">
                   <ul _ngcontent-c3="" class="meeting_title  list-unstyled NEWS">
                      <li _ngcontent-c3="">
                         <div _ngcontent-c3="" class="w100 w100first">
                            <div _ngcontent-c3="" class="meeting_title_para "><a _ngcontent-c3="" class="meeting_title text-maroon" href="Recruitment.asp"><i _ngcontent-c3="" class="fa fa-link"></i><strong _ngcontent-c3="">Minority Dept Recruitment</strong></a></div>
                         </div>
                      </li>
                      <li _ngcontent-c3="">
                         <div _ngcontent-c3="" class="w100 w100first">
                            <div _ngcontent-c3="" class="meeting_title_para"><a _ngcontent-c3="" class="meeting_title text-maroon" href="GO.asp"><i _ngcontent-c3="" class="fa fa-link"></i><strong _ngcontent-c3="">Government Orders</strong></a></div>
                         </div>
                      </li>
                      <li _ngcontent-c3="">
                         <div _ngcontent-c3="" class="w100 w100first">
                            <div _ngcontent-c3="" class="meeting_title_para"><a _ngcontent-c3="" class="meeting_title text-maroon" href="Budget.asp"><i _ngcontent-c3="" class="fa fa-link"></i><strong _ngcontent-c3=""> Budget </strong></a></div>
                         </div>
                      </li>
                      <li _ngcontent-c3="">
                         <div _ngcontent-c3="" class="w100 w100first">
                            <div _ngcontent-c3="" class="meeting_title_para"><a _ngcontent-c3="" class="meeting_title text-maroon" href="CensusReport.asp"><i _ngcontent-c3="" class="fa fa-link"></i><strong _ngcontent-c3=""> Census Report 2001 and 2011 </strong></a></div>
                         </div>
                      </li>
                      <li _ngcontent-c3="">
                         <div _ngcontent-c3="" class="w100 w100first">
                            <div _ngcontent-c3="" class="meeting_title_para"><a _ngcontent-c3="" class="meeting_title text-maroon" href="https://dom.karnataka.gov.in/#"><i _ngcontent-c3="" class="fa fa-link"></i><strong _ngcontent-c3=""> Asset Management Portal </strong></a></div>
                         </div>
                      </li>
                   </ul>
                </div>
             </div>
          </div>
       </div>
    </div>
    <div class="col-md-3">
       <h2>Latest News</h2>
       <script>
          $('.marquee-vert').marquee({
          direction: 'up',
          speed: slow
          });
       </script>
       <div>
          <!--<i class="fa    fa-quote-left text-purple"></i>-->
          <marquee direction="up" height="380" scrollamount="3" onmouseover="this.stop()" onmouseout="this.start()">
             <ul class="meeting_title list-unstyled NEWS">
                <li><a href="Documents\Latest News\NOS - for the year 2018-19 (second List-Fresh Candidates).pdf" class="text-blue" target="blank"> <i class="fa  fa-star text- blue text-justify"></i><b> Sanction and release of grants under National Overseas Scholarship to the minority students for the year 2018-19 (Batch-2)</b></a></li>
                <li><a href="Documents\Latest News\Revised intimation letter -2ND LIST.pdf" class="text-blue" target="blank"> <i class="fa  fa-star text- blue text-justify"></i><b> Intimation for National Overseas Scholarship to the minority students for the year 2018-19 (Batch-2)</b></a></li>
                <br>
                <li><a href="Documents\Latest News\Rev_Overseas 1st Batch Release list 2018-19.pdf" class="text-purple" target="blank"> <i class="fa  fa-star text- purple text-justify"></i><b> Sanction and release of grants under National Overseas Scholarship to the minority students for the year 2018-19 (Batch-1)</b></a></li>
                <li><a href="Documents\Latest News\Revised intimation letter.pdf" class="text-purple" target="blank"> <i class="fa  fa-star text- purple text-justify"></i><b> Intimation for National Overseas Scholarship to the minority students for the year 2018-19 (Batch-1)</b></a></li>
                <br>
                <li><a href="Documents\Latest News\How to Update Account Number.pdf" class="text-maroon" target="blank"> <i class="fa  fa-star text- maroon text-justify"></i><b>How to Update Account Number under NSP 2018-19</b></a></li>
                <br>
                <li><a href="https://docs.google.com/forms/d/e/1FAIpQLSe0ONL3HRklatU_C-k6uInpWB6zWh2sgKD-ZdEQkVrOGJajDw/viewform?usp=sf_link" class="text-maroon" target="blank"> <i class="fa  fa-star text- maroon text-justify"></i><b>  Online Registration Link for Special Incentive of Rs 25000/- to students Pursuing B.Ed.&amp; D.Ed. Courses,Last Date for Application is 15/12/2018.</b></a></li>
                <br>
                <li><a href="Documents\Latest News\B.Ed. &amp; D.Ed. Extension Notification.pdf" class="text-blue" target="blank"> <i class="fa  fa-star text- blue text-justify"></i><b>  Notification along with District Offices Addresses to Provide Special Incentive of amount Rs 25000/- P.A(Maximium Two Years) to students pursing B.Ed.&amp; D.Ed.Courses,Last Date has been Extended till 15/12/2018</b></a></li>
                <br>
                <li><a href="http://www.kpsc.kar.nic.in/indexk.html#" class="text-purple" target="blank"><i class="fa  fa-arrow text- purple text-justify"></i><b>Provisional Selection Lists by KPSC for various assets of Minorities(MDRS/MDR PU College/Minority Boys/girls Hostels)  </b></a></li>
                <li><a href="http://www.kpsc.kar.nic.in/sep36.txt" class="text-black" target="blank"> <i class="fa  fa-star text- black text-justify"></i><b> WARDEN BOYS/GIRLS </b> </a></li>
                <li><a href="http://www.kpsc.kar.nic.in/sep6.txt" class="text-black" target="blank"> <i class="fa  fa-star text- olive text-justify"></i><b> URDU TEACHERS IN MDRS IN DEPT OF MINORITY WELFARE </b></a></li>
                <li><a href="http://www.kpsc.kar.nic.in/sep9.txt " class="text-black" target="blank"> <i class="fa  fa-star text- olive text-justify"></i><b> SUBJECT TEACHER SOCIAL SCIENCE IN MDRS </b></a></li>
                <li><a href="http://www.kpsc.kar.nic.in/sep10.txt" class="text-black" target="blank"> <i class="fa  fa-star text- olive text-justify"></i><b> SUBJECT TEACHER MATHS IN MDRS (URDU)</b></a></li>
                <li><a href="http://www.kpsc.kar.nic.in/sep12.txt" class="text-black" target="blank"> <i class="fa  fa-star text- olive text-justify"></i><b> SUBJECT TEACHER SOCIAL SCIENCE IN MDRS (URDU)
                   </b></a>
                </li>
                <li><a href="http://www.kpsc.kar.nic.in/sep18.txt" class="text-black" target="blank"> <i class="fa  fa-star text- olive text-justify"></i><b> WARDEN IN MDR PU COLLEGE </b></a></li>
                <li><a href=" http://www.kpsc.kar.nic.in/sep19.txt" class="text-black" target="blank"> <i class="fa  fa-star text- olive text-justify"></i><b> WARDEN IN MDRS </b></a></li>
                <li><a href="http://www.kpsc.kar.nic.in/sep33.txt " class="text-black" target="blank"> <i class="fa  fa-star text- olive text-justify"></i><b> SUPERINTENDENTS OF PRE METRIC GIRLS HOSTEL (WOMEN) IN MDRS </b></a></li>
                <li><a href="http://www.kpsc.kar.nic.in/sep32.txt" class="text-black" target="blank"> <i class="fa  fa-star text- olive text-justify"></i><b> SUPERINTENDENTS OF PRE METRIC BOYS HOSTEL (MEN) IN MDRS</b></a></li>
                <li><a href="http://www.kpsc.kar.nic.in/sep23.txt " class="text-black" target="blank"> <i class="fa  fa-star text- olive text-justify"></i><b>  WARDENS OF POST METRIC HOSTEL (WOMEN)</b></a></li>
                <li><a href="http://www.kpsc.kar.nic.in/sep22.txt" class="text-black" target="blank"> <i class="fa  fa-star text- olive text-justify"></i><b> WARDENS OF POST METRIC HOSTEL (MEN)</b></a></li>
                <li><a href="http://www.kpsc.kar.nic.in/sep21.txt" class="text-black" target="blank"> <i class="fa  fa-star text- olive text-justify"></i><b> FIRST DIVISION COMPUTER ASSISTANT IN MDRS </b></a></li>
                <li><a href="http://www.kpsc.kar.nic.in/sep20.txt" class="text-black" target="blank"> <i class="fa  fa-star text- olive text-justify"></i><b> FIRST DIVISION COMPUTER ASSISTANT IN MDR PU COLLEGE</b></a></li>
                <br>
                <li><a href="http://www.kpsc.kar.nic.in/indexk.html" class="text-olive" target="blank"> <i class="fa  fa-star text- olive text-justify"></i><b> KPSC Website Link</b></a></li>
                <li><a href="https://kpscrecruitment.in/RPS/Home.aspx" class="text-navy" target="blank"> <i class="fa  fa-star text- navy text-justify"></i><b> Online Applicaion Link for HM &amp; Teachers Post in Govt.MAMS </b></a></li>
                <br>
                <li><a href="" class="text-maroon" target="blank"> <i class="fa  fa-star text- maroon text-justify"></i><b>Attention - Dear Students, 
                   Submit your hard copies of application along with enclosures immediately to your concerned Taluk or District Minority Officer for verification within 27/11/2018. If you dont submit your hard copy of your application. you will not be selected for scholarship. If already submitted ignore.</b></a>
                </li>
                <br>
                <li><a href="Documents\Latest News\Recruitment at MAMS.pdf" class="text-maroon" target="blank"> <i class="fa  fa-star text- maroon text-justify"></i><b> Recruitment by KPSC for Head Masters &amp; Teachers in Govt.Maulana Azad English Model School Managed by Directorate of Minorities. </b></a></li>
                <br>
                <li><i class="fa  fa-star text- purple text-justify"></i><b>Helpline for Queries regarding B.Ed.&amp;D.Ed.Incentive and Free Army Training Schemes <br>Email:gokdomnewschemes2018@gmail.com<br>Contact:08022535920 </b></li>
                <br>
                <li><a href="Documents\Latest News\Physical &amp; educational requirements and other docs.pdf" class="text-red" target="blank"> <i class="fa  fa-star text- green text-justify"></i><b> Physical &amp; educational requirements for joining indian army training and openings in indian army </b></a></li>
                <br>	
                <li><a href="https://joinindianarmyi.com/karnataka-army-open-rally-bharti/" class="text-blue" target="blank"> <i class="fa  fa-star text- green text-justify"></i><b>  Karnataka Army Open Rally District Wise Complete Information </b></a></li>
                <br>
                <li><a href="Documents\Latest News\Free Training for Joining Indian Army notification.pdf" class="text-purple" target="blank"> <i class="fa  fa-star text- green text-justify"></i><b> Free training with food &amp; accomodation to minority students to join Indian Land Army,Naval Army,Air Force &amp; other allied forces, Paper Notification Dated:16/11/2018.</b></a></li>
                <br>
                <li><a href="Documents\Latest News\Revised GO for Training to Minority students to Join Army Services.pdf" class="text-navy" target="blank"> <i class="fa  fa-star text- green text-justify"></i><b>  Government Order for Providing Free training with food &amp; accomodation to minority students who are interested to join Indian Army, Dated:11/10/2018.</b></a></li>
                <br>
                <li><a href="Documents\Latest News\SSPLastDate.PNG" class="text-black" target="blank"> <i class="fa  fa-star text- black text-justify"></i><b> Last Date for Apply under State Scholarship portal (SSP) is extended upto 30/11/2018.</b></a></li>
                <br>
                <li><a href="https://docs.google.com/forms/d/e/1FAIpQLSeucfef4rdAuG4PtJWramD_Cem2tK38D0-wJpgZIEeqorw2ag/viewform?usp=sf_link" class="text-green" target="blank"> <i class="fa  fa-star text- green text-justify"></i><b>  Online Registration Link for free training with accomodation to minority students to join Defence Forces(Indian Army and allied forces),Last Date for Application is 30/11/2018.</b></a></li>
                <br>
                <li><a href="Documents\Latest News\Grant Release for Colony Development.pdf" class="text-purple" target="blank"> <i class="fa  fa-star text- purple text-justify"></i><b> Colony Development Release Order,Dated:05/11/2018 </b></a></li>
                <br>
                <li><a href="Documents\Latest News\Institute Last Date.pdf" class="text-black" target="blank"> <i class="fa  fa-star text- black text-justify"></i><b> Attention Institute: Last Date for Institutes/Schools/Colleges to verify online application under NSP 2018-19 is 15/11/2018.</b></a></li>
                <br>
                <li><a href="Documents\Latest News\Procedure for correction_NSP.pdf" class="text-blue" target="blank"> <i class="fa  fa-star text- blue text-justify"></i><b> Procedure for correction in the NSP online applications already Submitted </b></a></li>
                <br>
                <li><a href="Documents\Latest News\B-ed &amp; D-ed incentives 15-Oct-2018 14-40-22(2).pdf" class="text-purple" target="blank"> <i class="fa  fa-star text- purple text-justify"></i><b> Government Order to Provide Special Incentive of amount Rs 25000/- P.A(Maximium Two Years) to students pursing B.Ed.&amp; D.Ed.Courses  </b></a></li>
                <br>
                <li><a href="https://gokdom.kar.nic.in/Scholarship.asp" class="text-black" target="blank"> <i class="fa  fa-star text- black text-justify"></i><b> NSP &amp; SSP 2018-19</b></a></li>
                <br>
                <li><a href="https://gokdom.kar.nic.in/MeritCumMeansScholarship.asp" class="text-red" target="blank"> <i class="fa  fa-star text- red text-justify"></i><b> Transaction Failure List GOK - MCM 2017-18</b></a></li>
                <br>
                <li><a href="https://gokdom.kar.nic.in/PostMetricScholarship.asp" class="text-red" target="blank"> <i class="fa  fa-star text- red text-justify"></i><b> Transaction Failure List GOK - PMS 2017-18</b></a></li>
                <br>
                <li><a href="https://gokdom.kar.nic.in/FeeReimbursement.asp" class="text-red" target="blank"> <i class="fa  fa-star text- red text-justify"></i><b> Transaction Failure List  GOK - Fee Reimbursement 2017-18</b></a></li>
                <br>
                <li><a href="Documents\Latest News\Income Limit Increased from 6L to 8L.pdf" class="text-black" target="blank"> <i class="fa  fa-star text- black text-justify"></i><b> Annual Income Limit is Increased from 6 lakhs to 8 lakhs for claiming reservation under categories 2A,2B,3A &amp; 3B.</b></a></li>
                <br>
                <li><a href="Documents\Latest News\Journalism Incentive Notification 2018-19.pdf" class="text-black" target="blank"> <i class="fa  fa-star text- olive text-justify"></i><b>  Incentive to Journalism &amp; Mass Communication Students Notification 2018-19 </b></a></li>
                <li><a href="https://docs.google.com/forms/d/e/1FAIpQLSc2a2GLgT9EhOxego8yqQ4c68M2tM5KABE7NW-2C9SsXW1TgQ/viewform?usp=sf_link " class="text-maroon" target="blank"> <i class="fa  fa-star text- maroon text-justify"></i><b> Online Registration </b> </a></li>
                <li><a href="Documents\Latest News\Application_Journalism1819.pdf" class="text-black" target="blank"> <i class="fa  fa-star text- olive text-justify"></i><b> Offline Form</b></a></li>
                <br>
                <li><a href="Documents\Latest News\GO for Minority Certificate.pdf" class="text-teal" target="blank"> <i class="fa  fa-star text- teal text-justify"></i><b>Govt Order to Provide Minority Certificate by Tahsildar's to students belonging to Minority Communities </b></a></li>
                <br>
                <li><a href="Documents\Latest News\314  notification  Hostels.pdf" class="text-light-blue" target="blank"> <i class="fa  fa-star text- light-blue text-justify"></i><b> List of Minority Hostels for Admission </b></a></li>
                <br>
                <li><a href="Documents\Latest News\Moulana Azad School Address list.pdf" class="text-yellow" target="blank"><i class="fa  fa-star text- yellow text-justify"></i><b> List of Moulana azad Model School(English Medium) for Admissions </b></a></li>
                <br>
                <li><a href="Documents\Latest News\129 MDRS Notification 2018-19.pdf" class="text-aqua" target="blank"><i class="fa  fa-star text- aqua text-justify"></i><b> List of Minority Residential Schools and Colleges for Admission </b></a></li>
                <br>
                <li><a href="Documents\Latest News\phd &amp; Mphil Notification 2018-19.pdf" class="text-blue" target="blank"> <i class="fa  fa-star text- blue text-justify"></i><b> Notification for Ph.D/Mphil Fellowship 2018-19.</b></a></li>
                <li><a href="https://docs.google.com/forms/d/e/1FAIpQLSc8CFNAdpIhdfrvIgbP4QXkvDPi1zNUBSyP9-sjJkwPeOpzLQ/viewform?usp=sf_link&#10;" class="text-blue" target="blank"> <i class="fa  fa-star text- blue text-justify"></i><b>Online Application for Ph.D &amp; Mphil Scholars 2018-19</b></a></li>
                <br>
             </ul>
          </marquee>
       </div>
       <div>
          <h3><i class="glyphicon glyphicon-earphone"></i> Contact Us</h3>
       </div>
       <div>
          <p>Directorate of Minorities, 20th &amp; 21st Floor, V V Towers(Main),
             Dr. B R Ambedkar Veedhi, Bangalore - 560001
          </p>
       </div>
       <h2><strong>HELPLINE - 080   22535900</strong></h2>
       <div>
          <h2> <strong> Connect with us on </strong></h2>
          <a target="_blank" href="https://www.facebook.com/itcell.gokdom.9" role="link"><img alt="Facebook" src="assets/fb.png"></a>
          <a target="_blank" href="https://www.twitter.com/DOMGOK" role="link"><img alt="Twitter" src="assets/twitter.png"></a>
          <a target="_blank" href="https://plus.google.com/+Directorgokdom" role="link"><img src="assets/googleplus.png"></a>
          <a target="_blank" href="https://www.youtube.com/channel/UCKMYrolow7yHdUBn72sj97w" role="link"><img src="assets/youtube.png"></a>
          <a target="_blank" href="https://www.linkedin.com/in/dir-of-minorities-government-of-karnataka-a7a97315a/" role="link"><img src="assets/Linkedin.jpg"></a>
          <!--<a target="_blank" href="https://www.gmail.com" role="link"><img src="Images/gmail.png"></a>			-->
          <a target="_blank" href="https://goo.gl/maps/UjCtBa2FHBu" role="link"><img src="assets/map_2.png"></a>
          <a target="_blank" href="https://www.instagram.com/directorate_of_minorities/" role="link"><img src="assets/Instagram.jpg"></a>
       </div>
       <div class="w100 w100first">
          <div class="meeting_title_para">
             <a href="Links.asp" class="meeting_title text-red" target="_blank">
             <i class="glyphicon glyphicon-link"></i> Related Links </a>							   
          </div>
       </div>
    </div>
 </div>