<ol _ngcontent-c3="" class="breadcrumb" style="
    margin: 0 1%;
"><li _ngcontent-c3=""><a _ngcontent-c3="" href="#">Home</a></li><li _ngcontent-c3="" class="active">About Us</li><li _ngcontent-c3="" class="active">Newspaper Releases</li></ol>

<div class="row"  style="padding: 0% 2%">
    <div class="page-header center full-width">
        <h2>Newspaper Releases</h2>
      </div>
</div>

<div class="row" style="padding: 1% 10%">

  
    <div class="col-md-10">
					   
        <h3 class="text-red"><strong>Newspaper Photos</strong></h3>
        <div class="row">
        
        
        
        <div class="col-md-2">
            <img src="assets/Media/Newspaper Release/IMG-20181025-WA0002.jpg" width="180" height="110">
          </div>
          <div class="col-md-2">
            <img src="assets/Media/Newspaper Release/IMG-20181023-WA0000.jpg" width="180" height="110">
          </div>
          <div class="col-md-2">
            <img src="assets/Media/Newspaper Release/IMG-20181023-WA0001.jpg" width="180" height="110">
          </div>
          <div class="col-md-2">
            <img src="assets/Media/Newspaper Release/IMG-20181025-WA0001.jpg" width="180" height="110">
          </div>
        
        
        
        
        
        
          <div class="col-md-2">
            <img src="assets/Media/Newspaper Release/IMG-20181020-WA0000.jpg" width="180" height="110">
          </div>
        <div class="col-md-2">
            <img src="assets/Media/Newspaper Release/IMG-20181017-WA0000.jpg" width="180" height="110">
          </div>
          <div class="col-md-2">
            <img src="assets/Media/Newspaper Release/IMG-20181017-WA0001.jpg" width="180" height="110">
          </div>
          <div class="col-md-2">
            <img src="assets/Media/Newspaper Release/IMG-20181017-WA0007.jpg" width="180" height="110">
          </div>
          <div class="col-md-2">
            <img src="assets/Media/Newspaper Release/IMG-20181017-WA0008.jpg" width="180" height="110">
          </div>
          
        
        
        
        
        
        
        
        
        
        
        <div class="col-md-2">
            <img src="assets/Media/Newspaper Release/Newspaper-8.jpeg" width="180" height="110">
          </div>
          
          
          <div class="col-md-2">
            <img src="assets/Media/Newspaper Release/Newspaper-7.jpeg" width="180" height="110">
          </div>
  
  
        
        
        
        <div class="col-md-2">
            <img src="assets/Media/Newspaper Release/Newspaper-6.jpeg" width="180" height="110">
          </div>
        
        
        <div class="col-md-2">
            <img src="assets/Media/Newspaper Release/Newspaper-5.jpeg" width="180" height="110">
          </div>
  
        
        <div class="col-md-2">
            <img src="assets/Media/Newspaper Release/Newspaper-3.jpeg" width="180" height="110">
          </div>
          
          
          <div class="col-md-2">
            <img src="assets/Media/Newspaper Release/Newspaper-4.jpeg" width="180" height="110">
          </div>
  
      
        
        <div class="col-md-2">
            <img src="assets/Media/Newspaper Release/Newspaper-1.jpeg" width="180" height="110">
          </div>
          
          <div class="col-md-2">
            <img src="assets/Media/Newspaper Release/Newspaper-2.jpeg" width="180" height="110">
          </div>
  
  
  <div class="col-md-2">
            <img src="assets/Media/Newspaper Release/Prajavani29012018.jpg" width="180" height="110">
          </div>
  
  
          <div class="col-md-2">
            <img src="assets/Media/Newspaper Release/Press17012018.jpeg" width="180" height="110">
          </div>
          <div class="col-md-2">
            <img src="assets/Media/Newspaper Release/Accnt_b.jpg" width="180" height="110">
          </div>
          <div class="col-md-2">
            <img src="assets/Media/Newspaper Release/Accnt2_b.jpg" width="180" height="110">
          </div>
          <div class="col-md-2">
            <img src="assets/Media/Newspaper Release/Deccan-Herald.jpg" width="180" height="110">
          </div>
          <div class="col-md-2">
            <img src="assets/Media/Newspaper Release/Director_Sir.jpeg" width="180" height="110">
          </div>
          <div class="col-md-2">
            <img src="assets/Media/Newspaper Release/IMG_8047.jpg" width="180" height="110">
          </div>
          <div class="col-md-2">
             <img src="assets/Media/Newspaper Release/IMG_8048.jpg" width="180" height="110">
          </div>					
        </div>	
         
        <div class="row">
          <div class="col-md-2">
            <img src="assets/Media/Newspaper Release/IMG_8049.jpg" width="180" height="110">
          </div>
          <div class="col-md-2">
            <img src="assets/Media/Newspaper Release/IMG_8050.jpg" width="180" height="110">
          </div>
          <div class="col-md-2">
            <img src="assets/Media/Newspaper Release/IMG_8051.jpg" width="180" height="110">
          </div>
          <div class="col-md-2">
            <img src="assets/Media/Newspaper Release/IMG_8052.jpg" width="180" height="110">
          </div>
          <div class="col-md-2">
            <img src="assets/Media/Newspaper Release/K'taka Ranks 3rd In Governace Index.jpe" width="180" height="110">
          </div>
          <div class="col-md-2">
             <img src="assets/Media/Newspaper Release/K'taka Ranks 3rd In Governace Index1.jpe" width="180" height="110">
          </div>					
        </div>	
        
        <div class="row">
          <div class="col-md-2">
            <img src="assets/Media/Newspaper Release/Mysore1_b.jpg" width="180" height="110">
          </div>
          <div class="col-md-2">
            <img src="assets/Media/Newspaper Release/Mysore3_b.jpg" width="180" height="110">
          </div>
          <div class="col-md-2">
            <img src="assets/Media/Newspaper Release/Mysore4_b.jpg" width="180" height="110">
          </div>
          <div class="col-md-2">
            <img src="assets/Media/Newspaper Release/Newspaper1.jpg" width="180" height="110">
          </div>
          <div class="col-md-2">
            <img src="assets/Media/Newspaper Release/Newspaper2.jpg" width="180" height="110">
          </div>
          <div class="col-md-2">
             <img src="assets/Media/Newspaper Release/Prajavani.jpg" width="180" height="110">
          </div>					
        </div>	
           
        <div class="row">
          <div class="col-md-2">
            <img src="assets/Media/Newspaper Release/Prees-news.jpeg" width="180" height="110">
          </div>
          <div class="col-md-2">
            <img src="assets/Media/Newspaper Release/Press51.jpeg" width="180" height="110">
          </div>
          <div class="col-md-2">
            <img src="assets/Media/Newspaper Release/Press52.jpeg" width="180" height="110">
          </div>
          <div class="col-md-2">
            <img src="assets/Media/Newspaper Release/Press53.jpeg" width="180" height="110">
          </div>
          <div class="col-md-2">
            <img src="assets/Media/Newspaper Release/Pressnote.jpg" width="180" height="110">
          </div>
          <div class="col-md-2">
             <img src="assets/Media/Newspaper Release/Sahara_b.jpg" width="180" height="110">
          </div>					
        </div>	
             
        <div class="row">
          <div class="col-md-2">
            <img src="assets/Media/Newspaper Release/Salar_b.jpg" width="180" height="110">
          </div>
          <div class="col-md-2">
            <img src="assets/Media/Newspaper Release/Salar_e.jpg" width="180" height="110">
          </div>
          <div class="col-md-2">
            <img src="assets/Media/Newspaper Release/Salar1_b.jpg" width="180" height="110">
          </div>
          <div class="col-md-2">
            <img src="assets/Media/Newspaper Release/Salar2_b.jpg" width="180" height="110">
          </div>
          <div class="col-md-2">
            <img src="assets/Media/Newspaper Release/Salar3.jpe" width="180" height="110">
          </div>
          <div class="col-md-2">
             <img src="assets/Media/Newspaper Release/Salar4.jpeg" width="180" height="110">
          </div>					
        </div>	
           
        <div class="row">
          <div class="col-md-2">
            <img src="assets/Media/Newspaper Release/Salar11.jpg" width="180" height="110">
          </div>
          <div class="col-md-2">
            <img src="assets/Media/Newspaper Release/Sartvmaward Kan.jpg" width="180" height="110">
          </div>
          <div class="col-md-2">
            <img src="assets/Media/Newspaper Release/Sartvmaward Kn.jpg" width="180" height="110">
          </div>
          <div class="col-md-2">
            <img src="assets/Media/Newspaper Release/Sartvmaward Ur.jpg" width="180" height="110">
          </div>
          <div class="col-md-2">
            <img src="assets/Media/Newspaper Release/Sartvmaward Urdu.jpg" width="180" height="110">
          </div>
          <div class="col-md-2">
             <img src="assets/Media/Newspaper Release/Sarvtmaward.jpg" width="180" height="110">
          </div>					
        </div>	
             
        <div class="row">
          <div class="col-md-2">
            <img src="assets/Media/Newspaper Release/Siyasat1_b.jpg" width="180" height="110">
          </div>
          <div class="col-md-2">
            <img src="assets/Media/Newspaper Release/Urdu paper1.jpg" width="180" height="110">
          </div>
          <div class="col-md-2">
             
          </div>
          <div class="col-md-2">
             
          </div>
          <div class="col-md-2">
       
          </div>
          <div class="col-md-2">
             
          </div>					
        </div>	
           
      </div>
  <div class="col-sm-2">
    
    </div>

</div>