<ol _ngcontent-c3="" class="breadcrumb" style="
    margin: 0 1%;
"><li _ngcontent-c3=""><a _ngcontent-c3="" href="#">Home</a></li><li _ngcontent-c3="" class="active">Citizen Charter</li><li _ngcontent-c3="" class="active">Citizen Charter</li></ol>

<div class="row"  style="padding: 0% 2%">
    <div class="page-header center full-width">
        <h2>Citizen Charter</h2>
      </div>
</div>

<div class="row" style="padding: 1% 10%">

  
  <div class="col-sm-10" style="text-align:justify">
      <a href="Documents\About Us\Citizencharter.pdf" target="_blank"><i class="fa fa-arrow-circle-o-down" aria-hidden="true"></i> Download</a>
  </div>
  <div class="col-sm-2">
    
    </div>

</div>