<ol class="breadcrumb" style="margin: 0 1%">
  <li><a href="#">Home</a></li>
  <li class="active">District Offices</li>
</ol>

<div class="row"  style="padding: 0% 2%">

    <div class="page-header center full-width">
    <h2>District Offices</h2>
  </div>
</div>

<div class="row" style="padding: 1% 10%">

  <div class="col-md-1">
  </div>
  <div class="col-md-9">
		
    <div class="row">
    <h3 class="text-red"><strong>Photos</strong></h3>
    <div class="row">
      <div class="col-md-2">
        <img src="assets/Media/Photo Gallery/IMG-20180322-WA0004.jpg" width="180" height="110">
      </div>

<div class="col-md-2">
        <img src="assets/Media/Photo Gallery/IMG-20180322-WA0005.jpg" width="180" height="110">
      </div>

<div class="col-md-2">
        <img src="assets/Media/Photo Gallery/IMG-20180322-WA0006.jpg" width="180" height="110">
      </div>

<div class="col-md-2">
        <img src="assets/Media/Photo Gallery/IMG-20180322-WA0007.jpg" width="180" height="110">
      </div>

<div class="col-md-2">
        <img src="assets/Media/Photo Gallery/IMG-20180322-WA0008.jpg" width="180" height="110">
      </div>

<div class="col-md-2">
        <img src="assets/Media/Photo Gallery/IMG-20180322-WA0009.jpg" width="180" height="110">
      </div>

<div class="col-md-2">
        <img src="assets/Media/Photo Gallery/IMG-20180322-WA0010.jpg" width="180" height="110">
      </div>

<div class="col-md-2">
        <img src="assets/Media/Photo Gallery/IMG-20180322-WA0011.jpg" width="180" height="110">
      </div>

<div class="col-md-2">
        <img src="assets/Media/Photo Gallery/IMG-20180322-WA0012.jpg" width="180" height="110">
      </div>

<div class="col-md-2">
        <img src="assets/Media/Photo Gallery/IMG-20180322-WA0013.jpg" width="180" height="110">
      </div>

<div class="col-md-2">
        <img src="assets/Media/Photo Gallery/IMG-20180322-WA0014.jpg" width="180" height="110">
      </div>

<div class="col-md-2">
        <img src="assets/Media/Photo Gallery/IMG-20180322-WA0015.jpg" width="180" height="110">
      </div>

<div class="col-md-2">
        <img src="assets/Media/Photo Gallery/IMG-20180322-WA0016.jpg" width="180" height="110">
      </div>

<div class="col-md-2">
        <img src="assets/Media/Photo Gallery/IMG-20180322-WA0017.jpg" width="180" height="110">
      </div>

<div class="col-md-2">
        <img src="assets/Media/Photo Gallery/IMG-20180322-WA0018.jpg" width="180" height="110">
      </div>
<div class="col-md-2">
        <img src="assets/Media/Photo Gallery/IMG-20180322-WA0019.jpg" width="180" height="110">
      </div>
      <div class="col-md-2">
        <img src="assets/Media/Photo Gallery/IMG-20180322-WA0020.jpg" width="180" height="110">
      </div>
      <div class="col-md-2">
        <img src="assets/Media/Photo Gallery/IMG-20180322-WA0021.jpg" width="180" height="110">
      </div>
<div class="col-md-2">
        <img src="assets/Media/Photo Gallery/IMG-20180322-WA0022.jpg" width="180" height="110">
      </div>

<div class="col-md-2">
        <img src="assets/Media/Photo Gallery/IMG-20180322-WA0023.jpg" width="180" height="110">
      </div>

<div class="col-md-2">
        <img src="assets/Media/Photo Gallery/IMG-20180322-WA0024.jpg" width="180" height="110">
      </div>

<div class="col-md-2">
        <img src="assets/Media/Photo Gallery/IMG-20180322-WA0025.jpg" width="180" height="110">
      </div>


<div class="col-md-2">
        <img src="assets/Media/Photo Gallery/IMG-20180322-WA0026.jpg" width="180" height="110">
      </div>

      
      
  
      
      <div class="col-md-2">
        <img src="assets/Media/Photo Gallery/IMG-20180321-WA0049.jpg" width="180" height="110">
      </div>

      
      
      
      
      <div class="col-md-2">
        <img src="assets/Media/Photo Gallery/Tumkur-certificate.jpeg" width="180" height="110">
      </div>
      <div class="col-md-2">
        <img src="assets/Media/Photo Gallery/IMG_8030.jpg" width="180" height="110">
      </div>
      <div class="col-md-2">
        <img src="assets/Media/Photo Gallery/IMG_8031.jpg" width="180" height="110">
      </div>
      <div class="col-md-2">
        <img src="assets/Media/Photo Gallery/IMG_8035.jpg" width="180" height="110">
      </div>
      <div class="col-md-2">
        <img src="assets/Media/Photo Gallery/IMG_8036.jpg" width="180" height="110">
      </div>
      <div class="col-md-2">
        <img src="assets/Media/Photo Gallery/IMG_8037.jpg" width="180" height="110">
      </div>
      <div class="col-md-2">
        <img src="assets/Media/Photo Gallery/IMG_8040.jpg" width="180" height="110">
      </div>					
    </div>	
    
    <div class="row">
      <div class="col-md-2">
        <img src="assets/Media/Photo Gallery/IMG_8041.jpg" width="180" height="110">
      </div>
      <div class="col-md-2">
        <img src="assets/Media/Photo Gallery/IMG_8042.jpg" width="180" height="110">
      </div>
      <div class="col-md-2">
        <img src="assets/Media/Photo Gallery/IMG_8043.jpg" width="180" height="110">
      </div>
      <div class="col-md-2">
        <img src="assets/Media/Photo Gallery/IMG_8044.jpg" width="180" height="110">
      </div>
      <div class="col-md-2">
        <img src="assets/Media/Photo Gallery/IMG_8045.jpg" width="180" height="110">
      </div>
      <div class="col-md-2">
        <img src="assets/Media/Photo Gallery/IMG_8046.jpg" width="180" height="110">
      </div>					
    </div>		
    
    <div class="row">
      <div class="col-md-2">
        <img src="assets/Media/Photo Gallery/IMG_8053.jpg" width="180" height="110">
      </div>
      <div class="col-md-2">
        <img src="assets/Media/Photo Gallery/IMG_8058.jpg" width="180" height="110">
      </div>
      <div class="col-md-2">
        <img src="assets/Media/Photo Gallery/IMG_8059.jpg" width="180" height="110">
      </div>
      <div class="col-md-2">
        <img src="assets/Media/Photo Gallery/IMG_8355.jpg" width="180" height="110">
      </div>
      <div class="col-md-2">
        <img src="assets/Media/Photo Gallery/IMG_8356.jpg" width="180" height="110">
      </div>
      <div class="col-md-2">
        <img src="assets/Media/Photo Gallery/IMG_8357.jpg" width="180" height="110">
      </div>					
    </div>		
    
    <div class="row">
      <div class="col-md-2">
        <img src="assets/Media/Photo Gallery/IMG_8358.jpg" width="180" height="110">
      </div>
      <div class="col-md-2">
        <img src="assets/Media/Photo Gallery/IMG_8359.jpg" width="180" height="110">
      </div>
      <div class="col-md-2">
        <img src="assets/Media/Photo Gallery/IMG_8360.jpg" width="180" height="110">
      </div>
      <div class="col-md-2">
        <img src="assets/Media/Photo Gallery/IMG_8361.jpg" width="180" height="110">
      </div>
      <div class="col-md-2">
        <img src="assets/Media/Photo Gallery/IMG_8362.jpg" width="180" height="110">
      </div>
      <div class="col-md-2">
        <img src="assets/Media/Photo Gallery/IMG_8363.jpg" width="180" height="110">
      </div>					
    </div>		
    
    <div class="row">
      <div class="col-md-2">
        <img src="assets/Media/Photo Gallery/IMG_8364.jpg" width="180" height="110">
      </div>
      <div class="col-md-2">
        <img src="assets/Media/Photo Gallery/IMG_8365.jpg" width="180" height="110">
      </div>
      <div class="col-md-2">
        <img src="assets/Media/Photo Gallery/IMG_8366.jpg" width="180" height="110">
      </div>
      <div class="col-md-2">
        <img src="assets/Media/Photo Gallery/IMG_8367.jpg" width="180" height="110">
      </div>
      <div class="col-md-2">
        <img src="assets/Media/Photo Gallery/IMG_8368.jpg" width="180" height="110">
      </div>
      <div class="col-md-2">
        <img src="assets/Media/Photo Gallery/IMG_8369.jpg" width="180" height="110">
      </div>					
    </div>		
    
    <div class="row">
      <div class="col-md-2">
        <img src="assets/Media/Photo Gallery/IMG_8370.jpg" width="180" height="110">
      </div>
      <div class="col-md-2">
        <img src="assets/Media/Photo Gallery/IMG_8371.jpg" width="180" height="110">
      </div>
      <div class="col-md-2">
        <img src="assets/Media/Photo Gallery/IMG_8372.jpg" width="180" height="110">
      </div>
      <div class="col-md-2">
        <img src="assets/Media/Photo Gallery/IMG_8373.jpg" width="180" height="110">
      </div>
      <div class="col-md-2">
        <img src="assets/Media/Photo Gallery/IMG_8374.jpg" width="180" height="110">
      </div>
      <div class="col-md-2">
        <img src="assets/Media/Photo Gallery/IMG_8375.jpg" width="180" height="110">
      </div>					
    </div>		
    
    <div class="row">
      <div class="col-md-2">
        <img src="assets/Media/Photo Gallery/IMG_8376.jpg" width="180" height="110">
      </div>
      <div class="col-md-2">
        <img src="assets/Media/Photo Gallery/IMG_8673.jpg" width="180" height="110">
      </div>
      <div class="col-md-2">
        <img src="assets/Media/Photo Gallery/IMG_8901.jpg" width="180" height="110">
      </div>
      <div class="col-md-2">
        <img src="assets/Media/Photo Gallery/IMG_8902.jpg" width="180" height="110">
      </div>
      <div class="col-md-2">
        <img src="assets/Media/Photo Gallery/IMG_8903.jpg" width="180" height="110">
      </div>
      <div class="col-md-2">
        <img src="assets/Media/Photo Gallery/IMG_8904.jpg" width="180" height="110">
      </div>					
    </div>		
    
    <div class="row">
      <div class="col-md-2">
        <img src="assets/Media/Photo Gallery/IMG_8905.jpg" width="180" height="110">
      </div>
      <div class="col-md-2">
        <img src="assets/Media/Photo Gallery/IMG_8906.jpg" width="180" height="110">
      </div>
      <div class="col-md-2">
        <img src="assets/Media/Photo Gallery/IMG_8907.jpg" width="180" height="110">
      </div>
      <div class="col-md-2">
        <img src="assets/Media/Photo Gallery/IMG_8908.jpg" width="180" height="110">
      </div>
      <div class="col-md-2">
        <img src="assets/Media/Photo Gallery/IMG_8909.jpg" width="180" height="110">
      </div>
      <div class="col-md-2">
        <img src="assets/Media/Photo Gallery/IMG_8910.jpg" width="180" height="110">
      </div>					
    </div>		
    
    <div class="row">
      <div class="col-md-2">
        <img src="assets/Media/Photo Gallery/IMG_8911.jpg" width="180" height="110">
      </div>
      <div class="col-md-2">
        <img src="assets/Media/Photo Gallery/IMG_8912.jpg" width="180" height="110">
      </div>
      <div class="col-md-2">
        <img src="assets/Media/Photo Gallery/IMG_8913.jpg" width="180" height="110">
      </div>
      <div class="col-md-2">
        <img src="assets/Media/Photo Gallery/IMG_8914.jpg" width="180" height="110">
      </div>
      <div class="col-md-2">
        <img src="assets/Media/Photo Gallery/IMG_8915.jpg" width="180" height="110">
      </div>
      <div class="col-md-2">
        <img src="assets/Media/Photo Gallery/IMG_8916.jpg" width="180" height="110">
      </div>					
    </div>		
    
    <div class="row">
      <div class="col-md-2">
        <img src="assets/Media/Photo Gallery/IMG_8917.jpg" width="180" height="110">
      </div>
      <div class="col-md-2">
        <img src="assets/Media/Photo Gallery/IMG_8918.jpg" width="180" height="110">
      </div>
      <div class="col-md-2">
        <img src="assets/Media/Photo Gallery/IMG_8919.jpg" width="180" height="110">
      </div>
      <div class="col-md-2">
        <img src="assets/Media/Photo Gallery/IMG_8920.jpg" width="180" height="110">
      </div>
      <div class="col-md-2">
        <img src="assets/Media/Photo Gallery/IMG_8921.jpg" width="180" height="110">
      </div>
      <div class="col-md-2">
        <img src="assets/Media/Photo Gallery/IMG_8922.jpg" width="180" height="110">
      </div>					
    </div>		
    
    <div class="row">
      <div class="col-md-2">
        <img src="assets/Media/Photo Gallery/IMG_8923.jpg" width="180" height="110">
      </div>
      <div class="col-md-2">
        <img src="assets/Media/Photo Gallery/IMG_8924.jpg" width="180" height="110">
      </div>
      <div class="col-md-2">
        <img src="assets/Media/Photo Gallery/IMG_8925.jpg" width="180" height="110">
      </div>
      <div class="col-md-2">
        <img src="assets/Media/Photo Gallery/IMG_8926.jpg" width="180" height="110">
      </div>
      <div class="col-md-2">
        <img src="assets/Media/Photo Gallery/IMG_8927.jpg" width="180" height="110">
      </div>
      <div class="col-md-2">
        <img src="assets/Media/Photo Gallery/IMG_8928.jpg" width="180" height="110">
      </div>					
    </div>		
    
    <div class="row">
      <div class="col-md-2">
        <img src="assets/Media/Photo Gallery/IMG_8929.jpg" width="180" height="110">
      </div>
      <div class="col-md-2">
        <img src="assets/Media/Photo Gallery/IMG_8930.jpg" width="180" height="110">
      </div>
      <div class="col-md-2">
        <img src="assets/Media/Photo Gallery/IMG_8931.jpg" width="180" height="110">
      </div>
      <div class="col-md-2">
        <img src="assets/Media/Photo Gallery/IMG_8932.jpg" width="180" height="110">
      </div>
      <div class="col-md-2">
        <img src="assets/Media/Photo Gallery/IMG_8933.jpg" width="180" height="110">
      </div>
      <div class="col-md-2">
        <img src="assets/Media/Photo Gallery/IMG_8934.jpg" width="180" height="110">
      </div>					
    </div>		
    
    <div class="row">
      <div class="col-md-2">
        <img src="assets/Media/Photo Gallery/IMG_8935.jpg" width="180" height="110">
      </div>
      <div class="col-md-2">
        <img src="assets/Media/Photo Gallery/IMG_8936.jpg" width="180" height="110">
      </div>
      <div class="col-md-2">
        <img src="assets/Media/Photo Gallery/IMG_8937.jpg" width="180" height="110">
      </div>
      <div class="col-md-2">
        <img src="assets/Media/Photo Gallery/IMG_8938.jpg" width="180" height="110">
      </div>
      <div class="col-md-2">
        <img src="assets/Media/Photo Gallery/IMG_8939.jpg" width="180" height="110">
      </div>
      <div class="col-md-2">
        <img src="assets/Media/Photo Gallery/IMG_8940.jpg" width="180" height="110">
      </div>					
    </div>		
    
    <div class="row">
      <div class="col-md-2">
        <img src="assets/Media/Photo Gallery/IMG_8941.jpg" width="180" height="110">
      </div>
      <div class="col-md-2">
        <img src="assets/Media/Photo Gallery/IMG_8942.jpg" width="180" height="110">
      </div>
      <div class="col-md-2">
        <img src="assets/Media/Photo Gallery/IMG_8943.jpg" width="180" height="110">
      </div>
      <div class="col-md-2">
        <img src="assets/Media/Photo Gallery/IMG_8944.jpg" width="180" height="110">
      </div>
      <div class="col-md-2">
        <img src="assets/Media/Photo Gallery/IMG_8945.jpg" width="180" height="110">
      </div>
      <div class="col-md-2">
        <img src="assets/Media/Photo Gallery/IMG_8946.jpg" width="180" height="110">
      </div>					
    </div>		
    
    <div class="row">
      <div class="col-md-2">
        <img src="assets/Media/Photo Gallery/IMG_8947.jpg" width="180" height="110">
      </div>
      <div class="col-md-2">
        <img src="assets/Media/Photo Gallery/IMG_8948.jpg" width="180" height="110">
      </div>
      <div class="col-md-2">
        <img src="assets/Media/Photo Gallery/IMG_8949.jpg" width="180" height="110">
      </div>
      <div class="col-md-2">
        <img src="assets/Media/Photo Gallery/IMG_8950.jpg" width="180" height="110">
      </div>
      <div class="col-md-2">
        <img src="assets/Media/Photo Gallery/IMG_8951.jpg" width="180" height="110">
      </div>
      <div class="col-md-2">
        <img src="assets/Media/Photo Gallery/IMG_8952.jpg" width="180" height="110">
      </div>					
    </div>		
    
    <div class="row">
      <div class="col-md-2">
        <img src="assets/Media/Photo Gallery/IMG_8953.jpg" width="180" height="110">
      </div>
      <div class="col-md-2">
        <img src="assets/Media/Photo Gallery/IMG_8954.jpg" width="180" height="110">
      </div>
      <div class="col-md-2">
        <img src="assets/Media/Photo Gallery/IMG_8955.jpg" width="180" height="110">
      </div>
      <div class="col-md-2">
        <img src="assets/Media/Photo Gallery/IMG_8956.jpg" width="180" height="110">
      </div>
      <div class="col-md-2">
        <img src="assets/Media/Photo Gallery/IMG_8957.jpg" width="180" height="110">
      </div>
      <div class="col-md-2">
        <img src="assets/Media/Photo Gallery/IMG_8958.jpg" width="180" height="110">
      </div>					
    </div>		
    
    <div class="row">
      <div class="col-md-2">
        <img src="assets/Media/Photo Gallery/IMG_8959.jpg" width="180" height="110">
      </div>
      <div class="col-md-2">
        <img src="assets/Media/Photo Gallery/IMG_8960.jpg" width="180" height="110">
      </div>
      <div class="col-md-2">
        <img src="assets/Media/Photo Gallery/IMG_8961.jpg" width="180" height="110">
      </div>
      <div class="col-md-2">
        <img src="assets/Media/Photo Gallery/IMG_8962.jpg" width="180" height="110">
      </div>
      <div class="col-md-2">
        <img src="assets/Media/Photo Gallery/IMG_8963.jpg" width="180" height="110">
      </div>
      <div class="col-md-2">
        <img src="assets/Media/Photo Gallery/IMG_8964.jpg" width="180" height="110">
      </div>					
    </div>		
    
    <div class="row">
      <div class="col-md-2">
        <img src="assets/Media/Photo Gallery/IMG_8965.jpg" width="180" height="110">
      </div>
      <div class="col-md-2">
        <img src="assets/Media/Photo Gallery/IMG_8966.jpg" width="180" height="110">
      </div>
      <div class="col-md-2">
        <img src="assets/Media/Photo Gallery/IMG_8967.jpg" width="180" height="110">
      </div>
      <div class="col-md-2">
        <img src="assets/Media/Photo Gallery/IMG_8968.jpg" width="180" height="110">
      </div>
      <div class="col-md-2">
        <img src="assets/Media/Photo Gallery/IMG_8969.jpg" width="180" height="110">
      </div>
      <div class="col-md-2">
        <img src="assets/Media/Photo Gallery/IMG_9151.jpg" width="180" height="110">
      </div>					
    </div>		
    
    <div class="row">
      <div class="col-md-2">
        <img src="assets/Media/Photo Gallery/IMG_9152.jpg" width="180" height="110">
      </div>
      <div class="col-md-2">
        <img src="assets/Media/Photo Gallery/IMG_9153.jpg" width="180" height="110">
      </div>
      <div class="col-md-2">
        <img src="assets/Media/Photo Gallery/IMG_9154.jpg" width="180" height="110">
      </div>
      <div class="col-md-2">
        <img src="assets/Media/Photo Gallery/IMG_9155.jpg" width="180" height="110">
      </div>
      <div class="col-md-2">
        <img src="assets/Media/Photo Gallery/IMG_9156.jpg" width="180" height="110">
      </div>
      <div class="col-md-2">
        <img src="assets/Media/Photo Gallery/IMG_9157.jpg" width="180" height="110">
      </div>					
    </div>		
    
    <div class="row">
      <div class="col-md-2">
        <img src="assets/Media/Photo Gallery/WPhoto_b.jpg" width="180" height="110">
      </div>
      <div class="col-md-2">
        <img src="assets/Media/Photo Gallery/WPhoto_b1.jpg" width="180" height="110">
      </div>
      <div class="col-md-2">
        <img src="assets/Media/Photo Gallery/WPhoto_b2.jpg" width="180" height="110">
      </div>
      <div class="col-md-2">
        <img src="assets/Media/Photo Gallery/WPhoto_s3.jpg" width="180" height="110">
      </div>
      <div class="col-md-2">
         
      </div>
      <div class="col-md-2">
         
      </div>					
    </div>		
    
   </div>
   
   <div class="row">
    <h3 class="text-red"><strong> Scholarship Workshop-Mysore </strong></h3>
    <div class="row">
      <div class="col-md-2">
        <img src="assets/Media/Photo Gallery/Dasara1.jpg" width="180" height="110">
      </div>
      <div class="col-md-2">
        <img src="assets/Media/Photo Gallery/Dasara2.jpg" width="180" height="110">
      </div>
      <div class="col-md-2">
        <img src="assets/Media/Photo Gallery/Mys_1_b.jpg" width="180" height="110">
      </div>
      <div class="col-md-2">
        <img src="assets/Media/Photo Gallery/Mys_2_b.jpg" width="180" height="110">
      </div>
      <div class="col-md-2">
        <img src="assets/Media/Photo Gallery/Mys_4_b.jpg" width="180" height="110">
      </div>
      <div class="col-md-2">
        <img src="assets/Media/Photo Gallery/Mys_7_b.jpg" width="180" height="110">
      </div>					
    </div>	
    
    <div class="row">
      <div class="col-md-2">
        <img src="assets/Media/Photo Gallery/Mys_8_b.jpg" width="180" height="110">
      </div>
      <div class="col-md-2">
        <img src="assets/Media/Photo Gallery/Mys_9_b.jpg" width="180" height="110">
      </div>
      <div class="col-md-2">
        <img src="assets/Media/Photo Gallery/Mys_11_b.jpg" width="180" height="110">
      </div>
      <div class="col-md-2">
        <img src="assets/Media/Photo Gallery/Mys_12_b.jpg" width="180" height="110">
      </div>
      <div class="col-md-2">
         
      </div>
      <div class="col-md-2">
         
      </div>					
    </div>					
   </div>
   
   <div class="row">
    <h3 class="text-red"><strong> Scholarship Workshop-Gulbarga </strong></h3>
    <div class="row">
      <div class="col-md-2">
        <img src="assets/Media/Photo Gallery/Gul_1_b.jpg" width="180" height="110">
      </div>
      <div class="col-md-2">
        <img src="assets/Media/Photo Gallery/Gul_2_b.jpg" width="180" height="110">
      </div>
      <div class="col-md-2">
        <img src="assets/Media/Photo Gallery/Gul_3_b.jpg" width="180" height="110">
      </div>
      <div class="col-md-2">
        <img src="assets/Media/Photo Gallery/Gul_4_b.jpg" width="180" height="110">
      </div>
      <div class="col-md-2">
        <img src="assets/Media/Photo Gallery/Gul_5_b.jpg" width="180" height="110">
      </div>
      <div class="col-md-2">
         
      </div>					
    </div>	 				
   </div>
   
   <div class="row">
    <h3 class="text-red"><strong> Scholarship Workshop-Bangalore </strong></h3>
    <div class="row">
      <div class="col-md-2">
        <img src="assets/Media/Photo Gallery/Bng_1_b.jpg" width="180" height="110">
      </div>
      <div class="col-md-2">
        <img src="assets/Media/Photo Gallery/Bng_2_b.jpg" width="180" height="110">
      </div>
      <div class="col-md-2">
        <img src="assets/Media/Photo Gallery/Bng_3_b.jpg" width="180" height="110">
      </div>
      <div class="col-md-2">
        <img src="assets/Media/Photo Gallery/Bng_4_b.jpg" width="180" height="110">
      </div>
      <div class="col-md-2">
        <img src="assets/Media/Photo Gallery/Bng_5_b.jpg" width="180" height="110">
      </div>
      <div class="col-md-2">
         
      </div>					
    </div>	 				
   </div>
   
   <div class="row">
    <h3 class="text-red"><strong> Scholarship Workshop-Bagalkote </strong></h3>
    <div class="row">
      <div class="col-md-2">
        <img src="assets/Media/Photo Gallery/Bgl_1_b.jpg" width="180" height="110">
      </div>
      <div class="col-md-2">
        <img src="assets/Media/Photo Gallery/Bgl_2_b.jpg" width="180" height="110">
      </div>
      <div class="col-md-2">
        <img src="assets/Media/Photo Gallery/Bgl_3_b.jpg" width="180" height="110">
      </div>
      <div class="col-md-2">
        <img src="assets/Media/Photo Gallery/Bgl_4_b.jpg" width="180" height="110">
      </div>
      <div class="col-md-2">
        <img src="assets/Media/Photo Gallery/Bgl_5_b.jpg" width="180" height="110">
      </div>
      <div class="col-md-2">
        <img src="assets/Media/Photo Gallery/Bgl-6_b.jpg" width="180" height="110">
      </div>					
    </div>	 				
   </div>
   
</div>
</div>