<ol _ngcontent-c3="" class="breadcrumb" style="
    margin: 0 1%;
"><li _ngcontent-c3=""><a _ngcontent-c3="" href="#">Home</a></li><li _ngcontent-c3="" class="active">Contact Us</li></ol>

<div class="row"  style="padding: 0% 2%">
    <div class="page-header center full-width">
        <h2>Contact Us</h2>
      </div>
</div>

<div class="row" style="padding: 1% 10%">

  
  <div class="col-sm-10" style="text-align:justify">
      <table id="Contact" style="border-style: solid; border-color: #000000; width:792px;  color: #000000">
          <tbody><tr>
              <th style="width:8px;">   <font color="#FF0000" size="4"> Sl.No</font></th>
              <th style="width:197px;"> <font color="#FF0000" size="4">Name</font></th>
              <th style="width:130px;"> <font color="#FF0000" size="4"> 
      Designation</font></th>
              <th style="width:216px;"> <font color="#FF0000" size="4">Photo</font></th>
          </tr>
          
          <tr style="width:195px;">
              <td style="width:8px;text-align:center;">
                  1</td>
              <td style="width:197px;">
                  <strong><font size="4">Akram Pasha</font></strong> 
                  <label style="font-size:smaller;">I.A.S.,</label>  </td>
              <td style="width:130px;">
                 <strong>Director</strong> </td>
                 
              <td style="width:216px;">
                  <img border="2" src="assets/images/Staff Images/dierctor.jpg" width="184" height="174"></td>
          </tr>
          
          <tr>
              <td style="width:8px; text-align:center;">
                  2</td>
              <td style="width:197px;">
                  Niyaz Ahamed Shariff <label style="font-size:smaller;">&nbsp;</label><label><font size="2">K.C.A.S</font></label></td>
              <td style="width:130px;">
                  Joint Director</td>
              <td style="width:216px;">
                  <img border="2" src="assets/images/Staff Images/Jd.jpg" width="184" height="174"></td>
          </tr>
          
          <tr>
              <td style="width:8px; text-align:center;">
                  3</td>
              <td style="width:197px;">
                  Shireen Nadaf <label style="font-size:smaller;">K.M.A.S</label></td>
              <td style="width:130px;">
                  Deputy Director</td>
              <td style="width:216px;">
                
                  <img border="2" src="assets/images/Staff Images/AD2.jpg" width="180" height="174"></td>
          </tr>
          
           <tr>
              <td style="width:8px; text-align:center;">
                  4</td>
              <td style="width:197px;">
                  Ayeesha Firdose <label style="font-size:smaller;">K E S<label style="font-size:smaller;"></label> </label></td>
              <td style="width:130px;">
                  Assistant Director</td>

              <td style="width:216px;">
                  <img border="2" src="assets/images/Staff Images/Ad1.jpg" width="180" height="174"></td>
          </tr>
          
           
           <tr>
              <td style="width:8px; text-align:center;">
                  5</td>
              <td style="width:197px;">
                  Najeebulla Khan<font size="2">&nbsp; K T S</font></td>
              <td style="width:130px;">
                  Assistant Director</td>
              <td style="width:216px;">
                  <img border="2" src="assets/images/Staff Images/AD3.jpg" width="180" height="174"></td>
          </tr>
          
         
          <tr>
              <td style="width:8px; text-align:center;">
                  6</td>
              <td style="width:197px;">
                  Kavitha E</td>
              <td style="width:130px;">
                  Assistant Director</td>
              <td style="width:216px;">                  
        <img border="2" src="assets/images/Staff Images/Kavitha.jpg" width="180" height="174"></td>
          </tr>
                              
          <tr>
              <td style="width:8px; text-align:center;">
                  7</td>
              <td style="width:197px;">
                  Abdul Gani</td>
              <td style="width:130px;">
                  Assistant Executive Engineer</td>
              <td style="width:216px;">
              <img border="2" src="assets/images/Staff Images/AEE.jpg" width="180" height="174"></td>
          </tr>
          
          <tr>
              <td style="width:8px; text-align:center;">
                  8</td>
              <td style="width:197px;">
                 Javid Pasha</td>
              <td style="width:130px;">
                  Law Officer</td>
              <td style="width:216px;">
                  &nbsp;</td>
          </tr>
          
  
          
             <tr>
              <td style="text-align:center; font-weight: bold; font-size: medium;" colspan="4">
                  Administration Section</td>
          </tr>
          
          <tr>
              <td style="width:8px; text-align:center;">
                  9</td>
              <td style="width:197px;">
                  Ayesha Bi</td>
              <td style="width:130px;">
                  Manager</td>
              <td style="width:216px;">
                  &nbsp;</td>
          </tr>
          
                       <tr>
              <td style="width:8px; text-align:center;">
                  10</td>
              <td style="width:197px;">
                  Thotada Yeramma</td>
              <td style="width:130px;">
                  Stenographer</td>
              <td style="width:216px;">
                  &nbsp;</td>
          </tr>
    <tr>
              <td style="width:8px; text-align:center;">
                  11</td>
              <td style="width:197px;">
                  Lakshmana Naik</td>
              <td style="width:130px;">
                  First Division Assistant</td>
              <td style="width:216px;">
                  &nbsp;</td>
          </tr>
          
          <tr>
              <td style="width:8px; text-align:center;">
                  12</td>
              <td style="width:197px;">
                  Nandeesh S</td>
              <td style="width:130px;">
                  First Division Assistant</td>
              <td style="width:216px;">
                  &nbsp;</td>
          </tr>

          
          
        
          <tr>
              <td style="width:8px; text-align:center;">
                  13</td>
              <td style="width:197px;">
                  Samina Siddiqua</td>
              <td style="width:130px;">
                  First Division Assistant</td>
              <td style="width:216px;">
                  &nbsp;</td>
          </tr>
          <tr>
              <td style="width:8px; text-align:center;">
                  14</td>
              <td style="width:197px;">
                  Gayathri Devi. B.N</td>
              <td style="width:130px;">
                  First Division Assistant (OS)</td>
              <td style="width:216px;">
                  &nbsp;</td>
          </tr>
            <tr>
              <td style="width:8px; text-align:center;">
                  15</td>
              <td style="width:197px;">
                  Sunita Hiremath</td>
              <td style="width:130px;">
                  Second Division Assistant</td>
              <td style="width:216px;">
                  &nbsp;</td>
          </tr>
                                             
<tr>
              <td style="width:8px; text-align:center;">
                  16</td>
              <td style="width:197px;">
                  Kiran</td>
              <td style="width:130px;">
                  Second Division Assistant</td>
              <td style="width:216px;">
                  &nbsp;</td>
          </tr>
    <tr>
              <td style="width:8px; text-align:center;">
                  17</td>
              <td style="width:197px;">
                  Nagraj M</td>
              <td style="width:130px;">
                  Second Division Assistant</td>
              <td style="width:216px;">
                  &nbsp;</td>
          </tr>

<tr>
              <td style="width:8px; text-align:center;">
                  18</td>
              <td style="width:197px;">
                  Shanta Gowda</td>
              <td style="width:130px;">
                  Second Division Assistant</td>
              <td style="width:216px;">
                  &nbsp;</td>
          </tr>



          <tr>
              <td style="width:8px; text-align:center;">
                  17</td>
              <td style="width:197px;">
                  Sumaiya</td>
              <td style="width:130px;">
                  Data Entry Operator(OS)</td>
              <td style="width:216px;">
                  &nbsp;</td>
          </tr>

  <tr>
              <td style="width:8px; text-align:center;">
                  18</td>
              <td style="width:197px;">
                  Laila BiBi</td>
              <td style="width:130px;">
                  Data Entry Operator(OS)</td>
              <td style="width:216px;">
                  &nbsp;</td>
          </tr>
          
<tr>
              <td style="width:8px; text-align:center;">
                  19</td>
              <td style="width:197px;">
                  Shilpa N</td>
              <td style="width:130px;">
                  Data Entry Operator(OS)</td>
              <td style="width:216px;">
                  &nbsp;</td>
          </tr>                          
       
 <tr>         
              <td style="width:8px; text-align:center;">
                  20</td>
              <td style="width:197px;">
                  Mohammed Aneef</td>
              <td style="width:130px;">
                  Date Entry Operator(OS)</td>
              <td style="width:216px;">
                  &nbsp;</td>
          </tr>
          
          
          
             <tr>
              <td style="width:8px; text-align:center;">
                  21</td>
              <td style="width:197px;">
                  T. Murugan</td>
              <td style="width:130px;">
                  Group "D"</td>
              <td style="width:216px;">
                  &nbsp;</td>
          </tr>
          
          <tr>
              <td style="width:8px; text-align:center;">
                  22</td>
              <td style="width:197px;">
                  Lakshmi Devi P.V</td>
              <td style="width:130px;">
                  Group "D"</td>
              <td style="width:216px;">
                  &nbsp;</td>
          </tr>
             <tr>
              <td style="width:8px; text-align:center;">
                  23</td>
              <td style="width:197px;">
                  Gowramma</td>
              <td style="width:130px;">
                  Group "D"</td>
              <td style="width:216px;">
                  &nbsp;</td>
          </tr>
    <tr>
              <td style="width:8px; text-align:center;">
                  24</td>
              <td style="width:197px;">
                  Khaleel Ulla Shariff</td>
              <td style="width:130px;">
                  Group "D"(OS)</td>
              <td style="width:216px;">
                  &nbsp;</td>
          </tr>
    <tr>
              <td style="width:8px; text-align:center;">
                  25</td>
              <td style="width:197px;">
                  Salim</td>
              <td style="width:130px;">
                  Group "D" (OS)</td>
              <td style="width:216px;">
                  &nbsp;</td>
          </tr>
    <tr>
              <td style="width:8px; text-align:center;">
                  26</td>
              <td style="width:197px;">
                  Waseem Pasha</td>
              <td style="width:130px;">
                  Driver (OS)</td>
              <td style="width:216px;">
                  &nbsp;</td>
          </tr>
    <tr>
              <td style="width:8px; text-align:center;">
                  27</td>
              <td style="width:197px;">
                  B Ramu</td>
              <td style="width:130px;">
                  Driver (OS)</td>
              <td style="width:216px;">
                  &nbsp;</td>
          </tr>
    <tr>
              <td style="width:8px; text-align:center;">
                  28</td>
              <td style="width:197px;">
                  Hussain</td>
              <td style="width:130px;">
                  Driver (OS)</td>
              <td style="width:216px;">
                  &nbsp;</td>
          </tr>
    <tr>
              <td style="width:8px; text-align:center;">
                  29</td>
              <td style="width:197px;">
                  Vardharaj</td>
              <td style="width:130px;">
                  Driver(OS) </td>
              <td style="width:216px;">
                  &nbsp;</td>
          </tr>
    <tr>
              <td style="width:8px; text-align:center;">
                  30</td>
              <td style="width:197px;">
                  Imran Pasha</td>
              <td style="width:130px;">
                  Driver (OS)</td>
              <td style="width:216px;">
                  &nbsp;</td>
          </tr>
            <tr>
              <td style="width:8px; text-align:center;">
                  31</td>
              <td style="width:197px;">
                  Vinod</td>
              <td style="width:130px;">
                  Driver (OS)</td>
              <td style="width:216px;">
                  &nbsp;</td>
          </tr>
          
            <tr>
              <td style="width:8px; text-align:center;">
                  32</td>
              <td style="width:197px;">
                  Venkatesh</td>
              <td style="width:130px;">
                  Driver (OS)</td>
              <td style="width:216px;">
                  &nbsp;</td>
          </tr>
          
          
          
          
    <tr>
              <td style="text-align:center; font-weight: bold; font-size: medium;" colspan="4">
                  Account Section</td>
          </tr>
  
    <tr>
              <td style="width:8px; text-align:center;">
                  33</td>
              <td style="width:197px;">
                  Madhu</td>
              <td style="width:130px;">
                  Data Entry Operator (OS)</td>
              <td style="width:216px;">
                  &nbsp;</td>
          </tr>
          
          <tr>
              <td style="text-align:center; font-weight: bold; font-size: medium;" colspan="4">
                  MSDP Cell</td>
          </tr>
             <tr>
              <td style="width:8px; text-align:center;">
                  34</td>
              <td style="width:197px;">
                  Suhail Ahmed</td>
              <td style="width:130px;">
                  Junior Programmer (OS)</td>
              <td style="width:216px;">
                  &nbsp;</td>
          </tr>
           <tr>
              <td style="width:8px; text-align:center;">
                  35</td>
              <td style="width:197px;">
                 Syed Jaleelulla Sha Khadri</td>
              <td style="width:130px;">
                  Programme Manager (OS)</td>
              <td style="width:216px;">
                  &nbsp;</td>
          </tr>
          
          
    <tr>
              <td style="width:8px; text-align:center;">
                  36</td>
              <td style="width:197px;">
                  Archana</td>
              <td style="width:130px;">
                  Data Entry Operator (OS)</td>
              <td style="width:216px;">
                  &nbsp;</td>
          </tr>
          <tr>
              <td style="width:8px; text-align:center;">
                  37</td>
              <td style="width:197px;">
                  Radha</td>
              <td style="width:130px;">
                  Data Entry Operator (OS)</td>
              <td style="width:216px;">
                  &nbsp;</td>
          </tr>
          
        
             <tr>
              <td style="width:8px; text-align:center;">
                  38</td>
              <td style="width:197px;">
                  Waseem Pasha</td>
              <td style="width:130px;">
                  Driver (OS)</td>
              <td style="width:216px;">
                  &nbsp;</td>
          </tr>
          
        
             <tr>
              <td style="text-align:center; font-weight: bold; font-size: medium;" colspan="4">
                  Information Cell</td>
          </tr>
          
          
        
             <tr>
              <td style="width:8px; text-align:center;">
                  39</td>
              <td style="width:197px;">
                  Maheboob Pasha</td>
              <td style="width:130px;">
                  State Information 
                  <br>
                  Co-ordinator</td>
              <td style="width:216px;">
                  &nbsp;</td>
          </tr>
          
        
           
    <tr>
              <td style="width:8px; text-align:center;">
                  40</td>
              <td style="width:197px;">
                  Marigowda H S</td>
              <td style="width:130px;">
                  Data Entry Operator(OS)</td>
              <td style="width:216px;">
                  &nbsp;</td>
          </tr>
          
        
           
          
        
        <tr>
              <td style="text-align:center; font-weight: bold; font-size: medium;" colspan="4">
                  Sir Syed Ahmed Khan Study and Research Centre</td>
          </tr>
    <tr>
              <td style="width:8px; text-align:center;">
                  41</td>
              <td style="width:197px;">
                  Vacant</td>
              <td style="width:130px;">
                  Accounts Officer</td>
              <td style="width:216px;">
                  &nbsp;</td>
          </tr>
    <tr>
              <td style="width:8px; text-align:center;">
                  42</td>
              <td style="width:197px;">
                  Vacant</td>
              <td style="width:130px;">
                  Librarian</td>
              <td style="width:216px;">
                  &nbsp;</td>
          </tr>
    <tr>
              <td style="width:8px; text-align:center;">
                  43</td>
              <td style="width:197px;">
                  Vacant</td>
              <td style="width:130px;">
                  Manager</td>
              <td style="width:216px;">
                  &nbsp;</td>
          </tr>
    <tr>
              <td style="width:8px; text-align:center;">
                  44</td>
              <td style="width:197px;">
                  Vacant</td>
              <td style="width:130px;">
                  First Division Assistant</td>
              <td style="width:216px;">
                  &nbsp;</td>
          </tr>
  
    <tr>
              <td style="width:8px; text-align:center;">
                  45</td>
              <td style="width:197px;">
                  Khalid</td>
              <td style="width:130px;">
                  Group "D"(OS)</td>
              <td style="width:216px;">
                  &nbsp;</td>
          </tr>
          
        
        <tr>
              <td style="text-align:center; font-weight: bold; font-size: medium;" colspan="4">
                  Scholarship Section</td>
          </tr>
    <tr>
              <td style="width:8px; text-align:center;">
                  46</td>
              <td style="width:197px;">
                  Syed Moinuddin</td>
              <td style="width:130px;">
                  Public Relation Officer (OS)</td>
              <td style="width:216px;">
                  &nbsp;</td>
          </tr>
    <tr>
              <td style="width:8px; text-align:center;">
                  47</td>
              <td style="width:197px;">
                  Darshan.H</td>
              <td style="width:130px;">
                  Senior Programmer (OS)</td>
              <td style="width:216px;"> 
                  &nbsp;</td>
          </tr>
    <tr>
              <td style="width:8px; text-align:center;">
                  48</td>
              <td style="width:197px;">
                  Arif Pasha</td>
              <td style="width:130px;">
                  Senior Programmer (OS)</td>
              <td style="width:216px;">
                  &nbsp;</td>
          </tr>
    <tr>
              <td style="width:8px; text-align:center;">
                  49</td>
              <td style="width:197px;">
                  Raghavendra.M</td>
              <td style="width:130px;">
                  Junior Programmer (OS)</td>
              <td style="width:216px;">
                  &nbsp;</td>
          </tr>
    <tr>
              <td style="width:8px; text-align:center;">
                  50</td>
              <td style="width:197px;">
                  Shruthi.M</td>
              <td style="width:130px;">
                  Junior Programmer (OS)</td>
              <td style="width:216px;">
                  &nbsp;</td>
          </tr>
    <tr>
              <td style="width:8px; text-align:center;">
                  51</td>
              <td style="width:197px;">
                  Mohammed Manaz Shariff</td>
              <td style="width:130px;">
                  Junior Programmer (OS)</td>
              <td style="width:216px;">
                  &nbsp;</td>
          </tr>
          <tr>
              <td style="width:8px; text-align:center;">
                  52</td>
              <td style="width:197px;">
                  Meghana</td>
              <td style="width:130px;">
              Data Entry Operator (OS)</td>
              <td style="width:216px;">
                  &nbsp;</td>
          </tr>
    <tr>
              <td style="width:8px; text-align:center;">
                  53</td>
              <td style="width:197px;">
                  Ruksar Banu</td>
              <td style="width:130px;">
              PA to Director (OS)</td>
              <td style="width:216px;">
                  &nbsp;</td>
          </tr>
    <tr>
              <td style="width:8px; text-align:center;">
                  54</td>
              <td style="width:197px;">
                  Salma Banu</td>
              <td style="width:130px;">
              Dispatch Clerk (OS)</td>
              <td style="width:216px;">
                  &nbsp;</td>
          </tr>
    <tr>
              <td style="width:8px; text-align:center;">
                  55</td>
              <td style="width:197px;">
                  Shivamma</td>
              <td style="width:130px;">
             Group D (OS)</td>
              <td style="width:216px;">
                  &nbsp;</td>
          </tr>
    
    
          
        
      </tbody></table>
      <p> OS: Out Source/Contract Basis Employees </p>
      <label style="color: #FF0000; font-weight: bold; font-size: medium;">Contact 
          Email IDs:<br>
          <a href="mailto:pmsdom1@gmail.com"><font color="#800000">Pre Matric 
          Scholarship:</font> pregokdom@gmail.com</a><br>
          <a href="mailto:pmsdom1@gmail.com"><font color="#800000">Post Matric 
          Scholarship:</font> pmsdom1@gmail.com</a><br>
          <a href="mailto:mcmsdom@gmail.com"><font color="#800000">Merit Cum Means 
          Scholarship:</font> mcmsdom@gmail.com</a><br>
          <a href="mailto:frgokdom@gmail.com"><font color="#800000">Fee Reimbursement:</font> 
          frgokdom@gmail.com</a><br>
          <a href="mailto:gokdom@gmail.com"><font color="#800000">Directorate of 
          Minorities:</font> gokdom@gmail.com</a></label>
      <br>
      <a href="#"><font color="#800000">Fax No.:</font> 080-22865958</a>
  </div>
  <div class="col-sm-2">
    
    </div>

</div>