body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

.sidebar {
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #6d7fcc;
  position: fixed;
  height: 100%;
  overflow: auto;
}

.sidebar a {
  display: block;
  color: #ffffff;
  padding: 16px;
  text-decoration: none;
}
 
.sidebar a.active {
  background-color: #7386d5;
  color: white;
}

.sidebar a:hover:not(.active) {
    color: #7386D5;
    background: #fff;
}

div.content {
  margin-left: 200px;
  padding: 1px 16px;
  height: auto;
}

@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {float: left;}
  div.content {margin-left: 0;}
}

@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}