
<form id="regForm" action="/action_page.php">
    <h1>Hall booking</h1>
    <!-- One "tab" for each step in the form: -->
    <div class="tab">Select Hall
    <p> <input type="text" placeholder="Enter your City Name" value="" class="form-control " tabindex="1" required=""></p>
    <p> <select class="country form-control " required="">
                                  <option value="" selected="">Hall1 </option>
                                  <option value="1">Hall2</option>
        </select>
      </p>
    </div>
    <div class="tab">Details
       <p><input placeholder="Name..." oninput="this.className = ''" name="name"></p>
      <p><input placeholder="E-mail..." oninput="this.className = ''" name="email"></p>
      <p><input placeholder="Phone..." oninput="this.className = ''" name="phone"></p>
       <p><textarea placeholder="Address"></textarea></p>
  
       <p><input placeholder="Aadhaar number..." oninput="this.className = ''" name=""></p>
       <p><input placeholder="Zip Code..." oninput="this.className = ''" name="Zip code"></p>
    </div>
    <div class="tab">Payment
      <div class="row p-b-15">
                              <div class="col-sm-12 col-md-6">
                                  <div class="form-holder">
                                      <label for="code">Card Type</label>
                                      <input type="text" class="form-control" id="code" name="code" placeholder="Card name">
                                  </div> 
                              </div>
                              <div class="col-sm-12 col-md-6">
                               <div class="row">
                                  <div class="form-holder col-sm-8">
                                      <label for="code">Card Number</label>
                                      <input type="text" class="form-control" id="code" name="code" placeholder="4242 4242 4242 4242">
                                  </div>
                                  <div class="form-holder col-sm-4">
                                      <label for="code">CVC</label>
                                      <input type="text" class="form-control" id="code" name="code" placeholder="...">
                                  </div>
                              </div>
                              </div>
                          </div>
                          <div class="row p-b-15">
                                  <div class="col-sm-12 col-md-6">
                                      <div class="form-holder">
                                          <label for="code">Card Holder Name</label>
                                          <input type="text" class="form-control" id="code" name="code" placeholder="Jhon">
                                      </div>
                                  </div>
                                  <div class="col-sm-12 col-md-6">
                                      <div class="row">
                                      <div class="form-holder col-sm-6">
                                          <label for="code">Expiry Month</label>
                                          <input type="text" class="form-control" id="code" name="code" placeholder="08">
                                      </div>
                                      <div class="form-holder col-sm-6">
                                              <label for="code">Expiry Year</label>
                                              <input type="text" class="form-control" id="code" name="code" placeholder="2019">
                                          </div>
                                      </div>
                                  </div>
                              </div>
    </div>
    <div class="tab">Payment
      <p><input placeholder="Username..." oninput="this.className = ''" name="uname"></p>
      <p><input placeholder="Password..." oninput="this.className = ''" name="pword" type="password"></p>
    </div>
    <div style="overflow:auto;">
      <div style="float:right;">
        <button type="button" id="prevBtn" onclick="nextPrev(-1)">Previous</button>
        <button type="button" id="nextBtn" onclick="nextPrev(1)">Next</button>
      </div>
    </div>
    <!-- Circles which indicates the steps of the form: -->
    <div style="text-align:center;margin-top:40px;">
      <span class="step">1</span>
      <span class="step">2</span>
      <span class="step">3</span>
      <span class="step">4</span>
    </div>
  </form>