<ol class="breadcrumb" style="margin: 0 1%">
  <li><a href="#">Home</a></li>
  <li class="active">Online applications</li>
</ol>

<div class="row"  style="padding: 0% 2%">

    <div class="page-header center full-width">
    <h2>Online applications</h2>
  </div>
</div>

<div class="row" style="padding: 1% 10%">

  <div class="col-md-10">
		 			 
    <h4><a href="https://scholarships.gov.in/" target="blank"><i class="glyphicon glyphicon-hand-right"></i> Pre Matric Scholarship</a></h4>
    
    <h4><a href="https://scholarships.gov.in/" target="blank"><i class="glyphicon glyphicon-hand-right"></i> Post Matric Scholarship</a></h4>
    
    <h4><a href="https://scholarships.gov.in/" target="blank"><i class="glyphicon glyphicon-hand-right"></i> Merit Cum Means Scholarship</a></h4>
    
    <h4><a href="http://gokdom.kar.nic.in/bidaai/" target="blank"><i class="glyphicon glyphicon-hand-right"></i> Bidaai</a></h4>
    
    <h4><a href="https://dom.karnataka.gov.in/" target="blank"><i class="glyphicon glyphicon-hand-right"></i> Asset Management Portal</a></h4>
     
</div>
<div class="col-sm-2"></div>
</div>