<div class="sidebar" id="slideid">
  <span (click)="closemenu()" class="closeicon"><i class="fa fa-times" aria-hidden="true"></i></span>
  <a class="active" href="#home"><i class="fa fa-fw fa-home"></i>Home</a>
  <a  href="#bookingdetails" [routerLink]="['bookingdetails']"><i class="fa fa-fw fa-list"></i>Booking Details</a> 
  <a routerLinkActive="active" (click)="logout()" ><i class="fa fa-sign-out" aria-hidden="true"></i>Logout</a>
</div>
<div class="row mobile-menu">
      <span (click)="slidemenu()"><i class="fa fa-bars"  style="font-size:24px"></i></span>
</div>
<div class="main">

  <div class="container">
      <h2 class="form-heading">Booking Details</h2>
      <br>
      <form >
              <p class="profiledetail-text">Your application is successfully submitted and your application number is <a style="font-weight:bold;color:#007bff">1234567</a> and same has been sent to your registered email ID for future references, your submitted details.</p>
             <div class="row profiledeail-row">
               <div class="profiledeail-div col-lg-6 col-sm-12">
                 <b>City:</b> Bengaluru
               </div>
               <div class="profiledeail-div col-lg-6 col-sm-12">
                 <b>Hall Selected:</b> Rama Krishna Kalyana Mantapa
               </div>
               <div class="profiledeail-div col-lg-6 col-sm-12">
                <b>Name:</b> RamaKrishna
               </div>
               <div class="profiledeail-div col-lg-6 col-sm-12">
                 <b>Gender:</b> Male
               </div>
               <div class="profiledeail-div col-lg-6 col-sm-12">
                 <b>Phone Number:</b> 9876543210
               </div>
               <div class="profiledeail-div col-lg-6 col-sm-12">
                 <b>Aadhaar No:</b> ABC12333
               </div>
               <div class="profiledeail-div col-lg-6 col-sm-12">
                 <b>Address:</b> Bsk 3rd stage,Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
               </div>
               <div class="profiledeail-div col-lg-6 col-sm-12">
                 <b>Zip Code:</b> 5600752
               </div>
               <div class="col-lg-6 col-sm-12"></div>
             </div>
      </form>
  </div>

</div>

