<ol _ngcontent-c3="" class="breadcrumb" style="
    margin: 0 1%;
"><li _ngcontent-c3=""><a _ngcontent-c3="" href="#">Home</a></li><li _ngcontent-c3="" class="active">About Us</li><li _ngcontent-c3="" class="active">Associated Organisations</li></ol>

<div class="row"  style="padding: 0% 2%">
    <div class="page-header center full-width">
        <h2>Associated Organisations</h2>
      </div>
</div>

<div class="row" style="padding: 1% 10%">


  <div class="col-sm-11" style="text-align:justify">
        <div class="row">
				<h3 class="text-center">KARNATKA MINORITIES DEVELOPMENT CORPORATION LIMITED</h3>
				<h4 class="text-center" style="width:100%"><a href="http://www.kmdc.kar.nic.in" target="_blank"> (http://www.kmdc.kar.nic.in)</a></h4>
				
				<h5><u><strong>INTRODUCTION: </strong></u></h5>
				
				<p class="text-justify"> The population of religious minorities as per 2011 Census is about 96,00,475 which forms 15.92% of the total population of Karnataka.  People belonging to Muslim, Christian, Buddhist, Jain, Sikh and Parsi communities come under religious minorities.  It was observed that a majority of the minority communities are reeling below the poverty line and they need a helping hand to improve their economic and educational status. </p>
				
				<h5><u><strong>Objective: </strong></u></h5>				
				
				<p class="text-justify"> The task of implementing measures to  the social and economic status of religious minority communities, was entrusted to the then Karnataka Backward Classes Development Corporation (renamed as D.Devaraj Urs Backward Classes Development Corporation).  However,  it was noticed by Late Ramakrishna Hegde, the then Hon’ble Chief Minister of Karnataka that the development schemes implemented through KBCDC had not significantly impacted  the livelihood of religious minorities. With this deep concern over the backwardness and to improve the Socio economic condition of religious minorities the Karnataka Minorities Development Corporation was established in the year 1986. </p>
				
				<h5><u><strong>Schemes: </strong></u></h5>
				<ol>
					<li>‘Swavalambana’ Margin Money Loan and Subsidy Scheme</li>
					<li>‘Arivu’ (Education Loan) Scheme </li>
					<li>Ganga Kalyana Scheme</li>
					<li>‘Shramashakthi’  Loan Scheme</li>
					<li>Land Purchase Scheme</li>
					<li>Micro Loan with Subsidy Scheme </li>
					<li>Karnataka Christian Development Parishat</li>
					<li>Site Purchase cum Home Loans Interest subsidy scheme</li>
					<li>National Minorities Development &amp; Finance  Corporation’s Direct loan schemes  </li>
				</ol>
            </div>
            <div class="row">
                    <h3 class="text-center">KARNATAKA STATE WAKF COUNCIL </h3>
                    <h4 class="text-center" style="width:100%"><a href=" http://www.kswwf.com" target="_blank"> (http://www.kswwf.com)</a></h4>
                    
                    <h5><u><strong>INTRODUCTION: </strong></u></h5>
                    
                    <p class="text-justify">The State Government has constituted the Karnataka State Wakf Council on the lines of Central Wakf Council vide Govt. Order No. RD 06 WGA 1991, dated 27.03.1992.</p>
                    
                    <h5><u><strong>Objective: </strong></u></h5>				
                    
                    <p class="text-justify">    The object of the scheme is to sanction of loans to the Wakf Institutions for development of Prime Wakf Properties comprising Commercial Shopping Complex/Shadi Mahal/Hostels etc to make them economically self-reliant. The loan sanctioned is up to the 75% of the estimated cost of the Project.(excluding the value of land) subject to a maximum of Rs. 50.00 Lakhs, which can be released in 2 to 4 instalments on production of Progress Report/Utilization Certificate and Photographs of the project.</p>
                     
                </div>
                <div class="row">
                        <h3 class="text-center">KARNATAKA STATE WAKF FOUNDATION FOR WOMEN DEVELOPMENT, BENGALURU</h3>
                        <h4 class="text-center" style="width: 100%"><a href=" http://www.kswwf.com" target="_blank"> (http://www.kswwf.com)</a></h4>
                        
                        <h5><u><strong>INTRODUCTION: </strong></u></h5>
                        
                        <p class="text-justify">The State Government has constituted the Karnataka State Wakf Foundation for Women Development vide Govt. Order No. RD 39 WGA 1991, dated 27/03/1992.</p>
                        
                        <h5><u><strong>Objective: </strong></u></h5>				
                        
                        <p class="text-justify">The objective of the scheme is primarily aimed to promote the development of Muslim Women particularly in the field of Education, Self Employment, improvement of working conditions in home / Cottage Industries like Ready Made Garments, Handicrafts, and Tailoring etc. To provide financial and other aid to Institutions /NGO’s engaged in the Promotion and Development of Women.</p>
                         
                    </div>
                    <div class="row">
                            <h3 class="text-center">KARNATAKA STATE WAKF BOARD ANNUAL REPORT OF THE KARNATAKA STATE BOARD OF AUQAF FOR THE FINANCIAL YEAR 2016-17 </h3>
                            
                            <h5><u><strong>INTRODUCTION: </strong></u></h5>
                                            
                            <p class="text-justify">This annual report is being presented to inform that the responsibilities of the Board are underlined under Section 32 of Waqf Act, 1995. The Board has set targets to accomplish. Mr. Syed Shabbir Ahmed Jeelani, I.A.S., was officiating as Chief Executive Officer of Waqf Board till 07-10-2015. Thereafter w.e.f. 08-10-2015 to date Shri. S.M. Zulfiquar Ulla is officiating as Chief Executive Officer of the Board, it is a challenging task to monitor all the Waqf Institutions with the cooperation of the related Govt., Departments and its agencies to protect and develop the properties of Auqaf. The Board during this year has successfully encountered these challenges.  
                                <br>
                                
                            The Government of Karnataka by virtue of its power conferred under section 14 [a] of the Waqf Act, 1995 has constituted Karnataka State Board of Waqfs for a period of 5 years, under Section 15 of the Waqf Act vide notification No.MWD/237/WES 2011, Bangalore dated  20-08-2011. The term has been expired on 19-08-2016.</p>	
                             
                        </div>
                        <div class="row">
                                <h3 class="text-center">KARNATAKA STATE HAJ COMMITTEE</h3>
                                <h4 class="text-center" style="width:100%"><a href=" http://www.karhaj.com" target="_blank"> (http://www.karhaj.com)</a></h4>
                                
                                <p class="text-justify">The Karnataka State Haj Committee is a Autonomous Body under Minorities Welfare Department of Government of Karnataka. It functions under the Haj Committee Act 2002 and under the Ministry of External Affairs, (Haj Cell), Government of India, New Delhi, through the Haj Committee of India, Mumbai. </p>	
                                 <br>
                                <p class="text-justify">Holy Haj is one of the five basic tenets of Islam. It is every Muslim's desire to perform Haj at least once in his life time. Performing Haj is obligatory duty to every sane, financially able and adult Muslim.</p>	
                                 <br>
                                <p class="text-justify">Shri Sarfaraz Khan, KCAS is the Executive Officer of the Karnataka State Haj Committee, Bangalore. The State Haj Committee office is situated in Sadath Haj House, No. 84/A, Richmond Road, Bengaluru – 560 025. Telephone No. is 080-22244434 and Fax No. is 080-41272349 </p>	
                                 <br>
                                <p class="text-justify">The Minorities Welfare, Haj and Wakfs Department, Government of Karnataka has constituted the Karnataka State Haj Committee with 16 Members vide its Notification No. MWD 10 WHJ 2016 dated: 19-01-2017 for 3 years with effect from 19-01-2017.</p>	
                                 
                            </div>
                            <div class="row">
                                    <h3 class="text-center">KARNATAKA URDU ACADEMY, BANGALORE</h3>
                                    <h4 class="text-center" style="width:100%"><a href=" http://www.karnatakaurduacademy.org" target="_blank"> (http://www.karnatakaurduacademy.org)</a> </h4>
                                    
                                    <h5><u><strong>Annual report for the year 2016-17</strong></u></h5>
                                                     
                                    <p class="text-justify">The Karnataka Urdu Academy was constituted vide G.O. No. ED/MSA/77 on 1st June 1977. Initially the Academy was functioning as advisory body to the Directorate of Kannada and Culture. In the interest of achieving better results, the Government vide Order No.ED/72/MSA/78, Bangalore, dated 20-11-1978, converted the Academy as an autonomous body, and it kept functioning under the Administrative control of the Department of Kannada and Culture. However, from 1-4-2011, the Karnataka Urdu Academy was transferred to the Department of Minorities Welfare, Hajj and Wakf, vide G.O. No. Ka.Sam.Va.Pra/119/ka.ra.aa.2010, Bangalore, dated 10-02-2011.</p>	
                                    
                                    <h5><u><strong>AIMS and OBJECTIVES</strong></u></h5>
                                    
                                    <p class="text-justify">The Aims and Objectives of the Karnataka Urdu Academy are to work for the Development and Promotion of Urdu Language, Literature, and Culture in the State. </p>	
                                    
                                    <ul>
                                    Activities and Programmes of the Academy 
                                        <li>Conducting  literary competitions for Urdu Students at School and College level</li>
                                        <li>Extending financial assistance to Urdu writers and poets for publication of books</li>
                                        <li>Honouring the poets/writers/authors/journalists for their contributions to Urdu</li>
                                        <li>Organising literary programmes such as workshops on creative writings, Trainings, Seminars</li>
                                        <li>Organising cultural programmes such as Ghazals, Qawwalis, Mushairas,  Dramas etc. at District, State and  All India level</li>
                                        <li>Printing of Urdu literary books for free distribution to the selected Libraries and literary persons and organizations</li>
                                        <li>Extending medical aid to ailing Urdu poets, writers, journalists and literary persons</li>
                                        <li>Conducting Extension Lectures for Urdu P.G. Students of Universities in the State</li>
                                        <li>Promotion of Dakhani Literature and Research</li>
                                        <li>Documentaries and short films on Urdu literary persons</li>
                                        <li>Mobile library for the promotion of Academy publications and sale covering the entire State</li>
                                        <li>Teaching of Urdu and DTP training to Non-Urdu candidates</li>
                                        <li>Conducting Translation Workshops to translate selected Urdu literature into Kannada and other languages and vice versa</li>
                                        <li>Preparing audio/video programmes based on Urdu literature in order to disseminate the same throughout the world by utilizing the internet and youtube</li>
                                     </ul>
                                    
                                    <p class="text-justify">Sponsoring preparation of the History of Urdu literature of Karnataka including the classics of Dakhani literature.</p>	
                                </div>
                                <div class="row">
                                        <h3 class="text-center">KARNATAKA URDU ACADEMY, BANGALORE</h3>
                                        <h4 class="text-center" style="width:100%"><a href=" http://www.karnatakaurduacademy.org" target="_blank"> (http://www.karnatakaurduacademy.org)</a> </h4>
                                    <ul>
                                            <li>The <strong>Karnataka State Minorities Commission </strong> was constituted under the Karnataka State Minorities Commission Act 1994 with its Headquarters at Bangalore.</li>
					                        <li>The <strong>Karnataka State Minorities Commission </strong> consists of a Chairman and Eight  other members nominated by the Government and the Secretary is the Chief Executive of the Commission.</li>
                                            <table class="table table-hover">
                                                    <thead>
                                                      <tr>
                                                        <th>Sl No</th>
                                                        <th>Name</th>
                                                        <th>Designation</th>
                                                      </tr>
                                                    </thead>
                                                    <tbody>
                                                      <tr>
                                                        <td>1.</td>
                                                        <td>Shri. Naseer Ahmed </td>
                                                        <td>Chairman </td>
                                                      </tr>
                                                      <tr>
                                                        <td>2.</td>
                                                        <td>Dr. R. Abdul Hameed</td>
                                                        <td>Member</td>
                                                      </tr>
                                                      <tr>
                                                        <td>3.</td>
                                                        <td>Shri. Rafi Bhandari</td>
                                                        <td>Member</td>
                                                      </tr>
                                                      <tr>
                                                        <td>4.</td>
                                                        <td>Shri. Mahmood Patel</td>
                                                        <td>Member</td>
                                                      </tr>
                                                      <tr>
                                                        <td>5.</td>
                                                        <td>Shri. K. Mahender Jain (Solanki )</td>
                                                        <td>Member</td>
                                                      </tr>
                                                      <tr>
                                                        <td>6.</td>
                                                        <td>Shri. Adil Suleman</td>
                                                        <td>Member</td>
                                                      </tr>
                                                      <tr>
                                                        <td>7.</td>
                                                        <td>Shri.  Marcel  Monteiro</td>
                                                        <td>Member</td>
                                                      </tr>
                                                      <tr>
                                                        <td>8.</td>
                                                        <td>Shri. Baljeet Singh</td>
                                                        </tr>
                                                      <tr>
                                                        <td>9.</td>
                                                        <td>Dr. Matilda D’souza</td>
                                                        <td>Member</td>
                                                      </tr>
                                                      <tr>
                                                        <td>10.</td>
                                                        <td>Shri. S. Anees Siraj</td>
                                                        <td>Secretary</td>
                                                      </tr>
                                                    </tbody>
                                                  </table>
                                            <li>The following communities are declared as Minority Communities in Karnataka namely <strong>Muslims, Christians, Jains, Buddhists, Sikhs, Zoroastrians (Parsis)</strong>.</li>
                                    </ul>
                                    </div>
                                    <h5><u><strong>Functions of the Commission are:  </strong></u></h5>
                                    <ol>
                                            <li>To examine the working of various safeguards provided in the Constitution and in the laws passed by the State Legislature for the protection of minorities.</li>
                                            <li>To make recommendations with a view to ensuring effective implementation and enforcement of all the safeguards.</li>
                                            <li class="text-justify">To monitor the working of the safeguards provided in the constitution, laws enacted by the State Legislature and policies and schemes of the Government for minorities.</li>
                                            <li>To conduct studies, research and analysis on the questions of avoidance of discriminations against minorities.</li>
                                            <li class="text-justify">To make a factual assessment of the representation of minorities in the services of the Government undertakings, Government and quasi-Government bodies and in case representation is inadequate, to suggest ways and means to achieve the desired level.</li>
                                            <li>To make recommendations for ensuring, maintaining and promoting communal harmony in the State.</li>
                                            <li>To make periodical reports at prescribed intervals to the Government. </li>
                                            <li class="text-justify">To study any other matter which in the opinion of the Commission is important from the point of view of the welfare and development of minorities and to make appropriate recommendation.</li>
                                            <li>To consider the grievances of the minorities and to suggest appropriate solution from time to time.</li>
                                            <li class="text-justify">To look into specific complaints regarding deprivation of rights and safeguards of minorities and take up such matter with the appropriate authorities: Provided that if any matter specified in sub-section (1) is undertaken by the National Commission for Minorities constituted under section 3 of the National Commission for Minorities Act, 1992 (Central Act 19 of 1992), the State Commission for Minorities shall cease to have jurisdiction in such matters.</li>
                                            <li class="text-justify">By The Karnataka State Minorities Commission (amendment) act 2016, Commission is conferred with the powers of a Civil Court, in respect of the following matters:
                                                <ul>
                                                    <li>Summoning and enforcing the attendance of any person from any Part of State and examining him on oath; </li>
                                                    <li>Requiring the discovery and production of any document; </li>
                                                    <li>Receiving evidence on affidavits; </li>
                                                    <li>Requisitioning any public record or copy thereof from any court or Office;</li>
                                                    <li>Issuing commissions for the examination of witnesses and documents;</li>
                                                    <li>Any other matter as may be prescribed.</li>
                                                </ul>
                                            </li>
                                        </ol>
                                
                            
  </div>
  <div class="col-sm-1">
    
    </div>

</div>