<ol class="breadcrumb" style="margin: 0 1%">
  <li><a href="#">Home</a></li>
  <li class="active">Downloads</li>
</ol>

<div class="row"  style="padding: 0% 2%">

    <div class="page-header center full-width">
    <h2>Downloads</h2>
  </div>
</div>

<div class="row" style="padding: 1% 10%">

<div class="col-md-10">
			
  <div class="col-md-9">
				
			
    <div class="row">
    
    
    
    <div class="col-md-4">
            <a href="Documents\Downloads\Whatsapp-Kannada-2.pdf"><i class="far fa-arrow-alt-circle-down"></i>Know About Minorities Schemes Posters(Kannada)  </a>
                        </div>
    
    <div class="col-md-4">
            <a href="Documents\Downloads\S&amp;E-final.pdf"><i class="far fa-arrow-alt-circle-down"></i>Social,Economic and Religion Life of Sikhs in Karnataka  </a>
                        </div>
                        <div class="col-md-4">
            <a href="Documents\Downloads\Socio economic.pdf"><i class="far fa-arrow-alt-circle-down"></i>Socio Economic Profile: Case Study of Mehadavi Muslims,Digambar Jains,Tamil Christians </a>
                        </div>
                        <div class="col-md-4">
            <a href="Documents\Downloads\MSDP Book.pdf"><i class="far fa-arrow-alt-circle-down"></i>Pradhan Mantri Jan Vikas Karyakram(PMJVK) MSDP </a>
                        </div>
                          <br> <br> 
                        <div class="col-md-4">
            <a href="Documents\Downloads\Education Promotion.pdf"><i class="far fa-arrow-alt-circle-down"></i>Education Promotion Efforts of the Directorate of Minority Welfare in Respect of Minorities </a>
                        </div>
    
    
    
    
    
    
    
    
            <h4><i class="glyphicon glyphicon-hand-right"></i>Know About Minorities Schemes</h4>
                
                <div class="row">
              <div class="col-md-4">
            <a href="https://drive.google.com/open?id=1Syo4vS0sqzgE4zjNdSuG_g7yxF0aCfgk"><i class="far fa-arrow-alt-circle-down"></i>Know About Minorities Schemes-English Version </a>
                        </div>
                          
          <div class="col-md-4">
          <a href="https://drive.google.com/open?id=1XtrMOpMq3hC4xZdUsLV9jitDdfv6ObNt"><i class="far fa-arrow-alt-circle-down"></i>Know About Minorities Schemes-Kannada Version</a>
          </div>
          
          <div class="col-md-4">
          <a href="https://drive.google.com/open?id=1r1wIuGCEV5mnjRByH6t9itc8K7o7-5Pg"><i class="far fa-arrow-alt-circle-down"></i>Know About Minorities Schemes </a>
                       </div>
                    <br> <br> 
    
    <div class="col-md-4">
            <a href="Documents\Downloads\Minority welfare wings (PPT).pdf"><i class="far fa-arrow-alt-circle-down"></i> Minority Welfare Wings PPT </a>
                       </div>
                      <br> 
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    <div class="row">
    
    <h4><i class="glyphicon glyphicon-hand-right"></i>Final Panel</h4>
                
                <div class="row">
              <div class="col-md-4">
            <a href="Documents\Downloads\Panel-final.pdf"><i class="far fa-arrow-alt-circle-down"></i>Final Panel</a>
                        </div>

     </div>
     <br>
     
    <div class="row">

      <h4><i class="glyphicon glyphicon-hand-right"></i>Rights of Minority</h4>
                
                <div class="row">
              <div class="col-md-4">
            <a href="Documents\Downloads\Rights of Minority_Eng.jpeg"><i class="far fa-arrow-alt-circle-down"></i>Rights of Minority English</a>
                        </div>
                          
          <div class="col-md-4">
          <a href="Documents\Downloads\Rights of Minority_Kan.jpeg"><i class="far fa-arrow-alt-circle-down"></i>Rights of Minority Kannada</a>
          </div>
          
          <div class="col-md-4">
          <a href="Documents\Downloads\Rights of Minority_Urdu.jpeg"><i class="far fa-arrow-alt-circle-down"></i>Rights of Minority Urdu</a>
                       </div>
                      <br> <br>
                      
        <div class="col-md-4">
          <a href="Documents\Downloads\Rights of Minority_Whatsapp.jpeg"><i class="far fa-arrow-alt-circle-down"></i>Rights of Minority Whatsapp</a>
        </div>
    

    <br>

    
    

    <br>
    <div class="row">
    <h4><i class="glyphicon glyphicon-hand-right"></i> Posters of Directorate of Minorities </h4>
      
      <div class="row">
        <div class="col-md-4">
          <a href="Documents\Downloads\posters\Directorate_of_Minorities Schemes-M.pdf"><i class="far fa-arrow-alt-circle-down"></i> Department Posters</a>
        </div>
        <div class="col-md-4">
          <a href="Documents\Downloads\posters\Directorate_of_Minorities_Schemes.pdf"><i class="far fa-arrow-alt-circle-down"></i> Department Posters &amp; Scheme</a>
        </div>				
        
      
    
      
      <!--<div class="row">
        <div class="col-md-4">
          <a href="Documents\Downloads\posters\School of Excellence -4.jpg"><i class="far fa-arrow-alt-circle-down"></i> School of Excellence </a>
        </div>
        <div class="col-md-4">
          <a href="Documents\Downloads\posters\School of Excellence -5.jpg"><i class="far fa-arrow-alt-circle-down"></i> School of Excellence </a>
        </div>				
        <div class="col-md-4">
          <a href="Documents\Downloads\posters\School of Excellence -6.jpg"><i class="far fa-arrow-alt-circle-down"></i> School of Excellence </a>
        </div>
      </div>
      
      <br/>
      
      <div class="row">
        <div class="col-md-4">
          <a href="Documents\Downloads\posters\School of Excellence -8.jpeg"><i class="far fa-arrow-alt-circle-down"></i> School of Excellence </a>
        </div>
        <div class="col-md-4">
          <a href="Documents\Downloads\posters\School of Excellence -9.jpeg"><i class="far fa-arrow-alt-circle-down"></i> School of Excellence </a>
        </div>				
        <div class="col-md-4">
          <a href="Documents\Downloads\posters\Pre Matric & Post Matric Hostels for Minorities -7.jpeg"><i class="far fa-arrow-alt-circle-down"></i> Pre Matric & Post Matric Hostels for Minorities  </a>
        </div>
      </div>
      
      <br/>
      
      <div class="row">
        <div class="col-md-4">
          <a href="Documents\Downloads\posters\National Overseas Scholarship -10.jpeg"><i class="far fa-arrow-alt-circle-down"></i> National Overseas Scholarship  </a>
        </div>
        <div class="col-md-4">
          <a href="Documents\Downloads\posters\Scholarship 2016-17-11.jpeg"><i class="far fa-arrow-alt-circle-down"></i> Scholarship 2016-17 </a>
        </div>				
        <div class="col-md-4">
          <a href="Documents\Downloads\posters\Modernization of Madrasas-12.jpeg"><i class="far fa-arrow-alt-circle-down"></i> Modernization of Madrasas  </a>
        </div>
      </div>
      
      <br/>
      
      <div class="row">
        <div class="col-md-4">
          <a href="Documents\Downloads\posters\Pre Coaching for UPSCKPSC 2017-18-13.jpeg"><i class="far fa-arrow-alt-circle-down"></i> Pre Coaching for UPSC/KPSC 2017-18 </a>
        </div>
        <div class="col-md-4">
          <a href="Documents\Downloads\posters\Dr. A.P.J Abdul Kalam Leadership Training Programme-14.jpeg"><i class="far fa-arrow-alt-circle-down"></i>  Dr. A.P.J Abdul Kalam Leadership Training Programme</a>
        </div>				
        <div class="col-md-4">
          <a href="Documents\Downloads\posters\Hostels for Working Women-15.jpeg"><i class="far fa-arrow-alt-circle-down"></i> Hostels for Working Women  </a>
        </div>
      </div>
      
      <br/>
      
      <div class="row">
        <div class="col-md-4">
          <a href="Documents\Downloads\posters\Minorities Information Centres -16.jpeg"><i class="far fa-arrow-alt-circle-down"></i>  Minorities Information Centres </a>
        </div>
        <div class="col-md-4">
          <a href="Documents\Downloads\posters\Budgets for Minorities-17.jpeg"><i class="far fa-arrow-alt-circle-down"></i> Budgets for Minorities </a>
        </div>				
        <div class="col-md-4">
          <a href="Documents\Downloads\posters\Dr. A.P.J Abdul Kalam Leadership Training Programme-18.jpeg"><i class="far fa-arrow-alt-circle-down"></i> Dr. A.P.J Abdul Kalam Leadership Training Programme </a>
        </div>
      </div>
      
      <br/>
      
      <div class="row">
        <div class="col-md-4">
          <a href="Documents\Downloads\posters\Pre Coaching for UPSCKPSC 2017-18-19.jpeg"><i class="far fa-arrow-alt-circle-down"></i> Pre Coaching for UPSC/KPSC 2017-18 </a>
        </div>
        <div class="col-md-4">
          <a href="Documents\Downloads\posters\Minorities Information Centres-20.jpeg"><i class="far fa-arrow-alt-circle-down"></i>  Minorities Information Centres</a>
        </div>				
        <div class="col-md-4">
          <a href="Documents\Downloads\posters\Development of Minorities Colonies-21.jpeg"><i class="far fa-arrow-alt-circle-down"></i>  Development of Minorities Colonies</a>
        </div>
      </div>
      
      <br/>
      
      <div class="row">
        <div class="col-md-4">
          <a href="Documents\Downloads\posters\Fellowship for Ph.D & M.Phill Scholars-22.jpeg"><i class="far fa-arrow-alt-circle-down"></i> Fellowship for Ph.D & M.Phill Scholars </a>
        </div>
        <div class="col-md-4">
          <a href="Documents\Downloads\Skill_Development_Training.pdf"><i class="far fa-arrow-alt-circle-down"></i> Skill Development Training </a>
        </div>				
        <div class="col-md-4">
          <a href="Documents\Downloads\posters\Incentive for IIT, IIM, NIT. IISER, AIIMS, NLU Students-24.jpeg"><i class="far fa-arrow-alt-circle-down"></i>  Incentive for IIT, IIM, NIT. IISER, AIIMS, NLU Students</a>
        </div>
      </div>
      
      <br/>
      
      <div class="row">
        <div class="col-md-4">
          <a href="Documents\Downloads\posters\Moulana Azad Model School-23.jpeg"><i class="far fa-arrow-alt-circle-down"></i>  Moulana Azad Model School</a>
        </div>
        <div class="col-md-4">
          <a href="Documents\Downloads\posters\Online Application & Online Payment (DBT)-25.jpeg"><i class="far fa-arrow-alt-circle-down"></i> Online Application & Online Payment (DBT) </a>
        </div>				
        <div class="col-md-4">
          <a href="Documents\Downloads\posters\Nursing & Para Medical Traning-26.jpeg"><i class="far fa-arrow-alt-circle-down"></i>  Nursing & Para Medical Traning</a>
        </div>
      </div>
      
      <br/>
      
      <div class="row">
        <div class="col-md-4">
          <a href="Documents\Downloads\posters\Christian Development Programme-27.jpeg"><i class="far fa-arrow-alt-circle-down"></i>  Christian Development Programme</a>
        </div>
        <div class="col-md-4">
          <a href="Documents\Downloads\posters\Training for Law Graduates-28.jpeg"><i class="far fa-arrow-alt-circle-down"></i> Training for Law Graduates </a>
        </div>				
        <div class="col-md-4">
          <a href="Documents\Downloads\posters\Incentive for Journalism Training-29.jpeg"><i class="far fa-arrow-alt-circle-down"></i>  Incentive for Journalism Training</a>
        </div>
      </div>-->
      <br>
      <div class="row">
        <h4><i class="glyphicon glyphicon-hand-right"></i> 4 Years Achievement of Directorate of Minorities </h4>
        <div class="row">
          <div class="col-md-4">
            <a href="Documents\Downloads\4 Years Achievement in English.pdf"><i class="far fa-arrow-alt-circle-down"></i> 4 Years Achievement in English </a>
          </div>
          <div class="col-md-4">
            <a href="Documents\Downloads\4 Years Achievement in Kannada.pdf"><i class="far fa-arrow-alt-circle-down"></i> 4 Years Achievement in Kannada </a>
          </div>					
          <div class="col-md-4">
            <a href="Documents\Downloads\4 Years Achievement in Urdu.pdf"><i class="far fa-arrow-alt-circle-down"></i> 4 Years Achievement in Urdu </a>
          </div>				
        </div>				
       </div>
      <br>
      <div class="row">
        <h4><i class="glyphicon glyphicon-hand-right"></i> 3 Years Achievement Booklet of Directorate of Minorities </h4>
        <div class="row">					
          <div class="col-md-4">
            <a href="Documents\Downloads\3 Years Achievement Booklet in English.pdf"><i class="far fa-arrow-alt-circle-down"></i> 3 Years Achievement Booklet in English </a>
          </div>
          <div class="col-md-4">
            <a href="Documents\Downloads\3 Years Achievement Booklet in Kannada.pdf"><i class="far fa-arrow-alt-circle-down"></i> 3 Years Achievement Booklet in Kannada </a>
          </div>					
          <div class="col-md-4">
             
          </div>				
        </div>				
       </div>
      <br>
      <div class="row">
        <h4><i class="glyphicon glyphicon-hand-right"></i> 3 Years Achievement of Directorate of Minorities </h4>
        <div class="row">
          <div class="col-md-4">
            <a href="Documents\Downloads\3 Years Achievement in English.pdf"><i class="far fa-arrow-alt-circle-down"></i> 3 Years Achievement in English </a>
          </div>
          <div class="col-md-4">
            <a href="Documents\Downloads\3 Years Achievement in Kannada.pdf"><i class="far fa-arrow-alt-circle-down"></i> 3 Years Achievement in Kannada </a>
          </div>					
          <div class="col-md-4">
            <a href="Documents\Downloads\posters\3 Years Achievement in Urdu.jpg"><i class="far fa-arrow-alt-circle-down"></i> 3 Years Achievement in Urdu </a>
          </div>				
        </div>				
       </div>
      <br>
      <div class="row">
        <h4><i class="glyphicon glyphicon-hand-right"></i> 2 Years Achievement of Directorate of Minorities </h4>
        <div class="row">
          <div class="col-md-4">
            <a href="Documents\Downloads\posters\2 Years Achievement in English.jpg"><i class="far fa-arrow-alt-circle-down"></i> 2 Years Achievement in English </a>
          </div>
          <div class="col-md-4">
            <a href="Documents\Downloads\posters\2 Years Achievement in Kannada.jpg"><i class="far fa-arrow-alt-circle-down"></i> 2 Years Achievement in Kannada </a>
          </div>					
          <div class="col-md-4">
            <a href="Documents\Downloads\2 Years Achievement in Urdu.pdf"><i class="far fa-arrow-alt-circle-down"></i> 2 Years Achievement in Urdu </a>
          </div>				
        </div>				
       </div>
      <br>
      <div class="row">
        <h4><i class="glyphicon glyphicon-hand-right"></i> 1 Year Achievement of Minority Welfare Department </h4>
        <div class="row">
          <div class="col-md-4">
            <a href="Documents\Downloads\Achievement in Kannada &amp; English.pdf"><i class="far fa-arrow-alt-circle-down"></i> 1 Years Achievement in Kannada &amp; English </a>
          </div>
          <div class="col-md-4">
            <a href="Documents\Downloads\posters\Achievement in Urdu.jpg"><i class="far fa-arrow-alt-circle-down"></i> 1 Years Achievement in Urdu </a>
          </div>					
          <div class="col-md-4">
            
          </div>				
        </div>				
       </div>
      <br>
      <div class="row">
        <h4><i class="glyphicon glyphicon-hand-right"></i> Information Brouchers of the Department </h4>
        
        <div class="row">
        <div class="col-md-4">
          <a href="Documents\Downloads\All Scheme of Departments - English 2015-16.pdf"><i class="far fa-arrow-alt-circle-down"></i> All Scheme of Departments - English 2015-16</a>
        </div>
        <div class="col-md-4">
          <a href="Documents\Downloads\All Scheme of Departments - Urdu 2015-16.pdf"><i class="far fa-arrow-alt-circle-down"></i> All Scheme of Departments - Urdu 2015-16</a>
        </div>				
        <div class="col-md-4">
          <a href="Documents\Downloads\All Scheme of Departments - Kannada.pdf"><i class="far fa-arrow-alt-circle-down"></i> All Scheme of Departments - Kannada</a>
        </div>	
      </div>	
      
      <br>
      
      <div class="row">
        <div class="col-md-4">
          <a href="Documents\Downloads\All Scheme of Departments - English.pdf"><i class="far fa-arrow-alt-circle-down"></i> All Scheme of Departments - English</a>
        </div>
        <div class="col-md-4">
          <a href="Documents\Downloads\All Scheme of Departments(Posters) - Kannada.pdf"><i class="far fa-arrow-alt-circle-down"></i> 	All Scheme of Departments(Posters) - Kannada</a>
        </div>				
        <div class="col-md-4">
          <a href="Documents\Downloads\All Scheme of Departments(Posters) - English.pdf"><i class="far fa-arrow-alt-circle-down"></i> 	All Scheme of Departments(Posters) - English</a>
        </div>
      </div>
      
      <br>
      
      <div class="row">
        <div class="col-md-4">
          <a href="Documents\Downloads\Schemes of Christian - Kannada.pdf"><i class="far fa-arrow-alt-circle-down"></i> 	Schemes of Christian - Kannada</a>
        </div>
        <div class="col-md-4">
          <a href="Documents\Downloads\Schemes of Christian - English.pdf"><i class="far fa-arrow-alt-circle-down"></i> 	Schemes of Christian - English</a>
        </div>				
        <div class="col-md-4">
          <a href="Documents\Downloads\Christian Brouchers - Kannada.pdf"><i class="far fa-arrow-alt-circle-down"></i> Christian Brouchers - Kannada</a>
        </div>
      </div>
      
      <br>
      
      <div class="row">
        <div class="col-md-4">
          <a href="Documents\Downloads\Christian Brouchers - English.pdf"><i class="far fa-arrow-alt-circle-down"></i> Christian Brouchers - English</a>
        </div>
        <div class="col-md-4">
           
        </div>				
        <div class="col-md-4">
           
        </div>
      </div>		
       </div>
      <br>
      <div class="row">
        <h4><i class="glyphicon glyphicon-hand-right"></i>  Online tranfer of beneficiaries &amp; Simplification of procedures </h4>
        <div class="row">
          <div class="col-md-4">
            <a href="Documents\Downloads\simplification-Kan.pdf"><i class="far fa-arrow-alt-circle-down"></i>  In Kannada</a>
          </div>
          <div class="col-md-4">
            <a href="Documents\Downloads\simplification-Eng.pdf"><i class="far fa-arrow-alt-circle-down"></i> In English</a>
          </div>					
          <div class="col-md-4">
            <a href="Documents\Downloads\posters\simplification-Urdu.jpg"><i class="far fa-arrow-alt-circle-down"></i> In Urdu</a>
          </div>				
        </div>				
       </div>
      <br>
      <div class="row">
        <h4><i class="glyphicon glyphicon-hand-right"></i>  State Government Schemes  </h4>
        <div class="row">
          <div class="col-md-6">
            <a href="Documents\Downloads\State Government schemes of the Department.pdf"><i class="far fa-arrow-alt-circle-down"></i> State Government Schemes of the Department</a>
          </div>
          <div class="col-md-6">
            
          </div>					
        </div>													
       </div>
      <br>
      <div class="row">
        <h4><i class="glyphicon glyphicon-hand-right"></i>  Tipu Sultan Jayanthi Celebrated On 10 Nov 2015</h4>
        
        <div class="row">
        <div class="col-md-4">
          <a href="Documents\Downloads\Minority Backdrop.pdf"><i class="far fa-arrow-alt-circle-down"></i> Minority Backdrop</a>
        </div>
        <div class="col-md-4">
          <a href="Documents\Downloads\Minority_Banner_Badges_Arch.pdf"><i class="far fa-arrow-alt-circle-down"></i> Minority Banner Badges Arch</a>
        </div>				
        <div class="col-md-4">
          <a href="Documents\Downloads\Press ad Engish_Tippu.pdf"><i class="far fa-arrow-alt-circle-down"></i> Press ad Engish</a>
        </div>	
      </div>	
      
      <br>
      
      <div class="row">
        <div class="col-md-4">
          <a href="Documents\Downloads\Press ad Kanndana_tippu.pdf"><i class="far fa-arrow-alt-circle-down"></i> Press ad Kannada</a>
        </div>
        <div class="col-md-4">
          <a href="Documents\Downloads\press_ad_urd_Tippu.pdf"><i class="far fa-arrow-alt-circle-down"></i> Press ad Urdu</a>
        </div>				
        <div class="col-md-4">
          <a href="Documents\Downloads\Tippu Back drop (10-x40 ft) final.pdf"><i class="far fa-arrow-alt-circle-down"></i> 	Tippu Back Drop</a>
        </div>
      </div>
      
      <br>
      
      <div class="row">
        <div class="col-md-4">
          <a href="Documents\Downloads\Tippu Invitation English.pdf"><i class="far fa-arrow-alt-circle-down"></i> Tippu Invitation English</a>
        </div>
        <div class="col-md-4">
          <a href="Documents\Downloads\Tippu Invitation Kannada Final.pdf"><i class="far fa-arrow-alt-circle-down"></i> Tippu Invitation Kannada</a>
        </div>				
        <div class="col-md-4">
           
        </div>
      </div>				
       </div>
      <br>
      
     </div>			 
     
      <h4><a href="Documents\Downloads\MoulanaAzadMinorityBhavan.pdf"><i class="far fa-arrow-alt-circle-down"></i>  Moulana Azad Minority Bhavan</a></h4>
      
  </div>
  
  <div class="col-md-1">
  
  </div>
</div>

<div class="container-fluid line">
    <!-- Example row of columns -->
    <div class="row">
  
  <div class="col-sm-4">
  
   <a target="_blank" href="http://www.minorityaffairs.gov.in/" title="Minority Affairs GoI"> <img src="images/minorityaffairs.png"></a>
               
        
  <a target="_blank" href="http://www.karnataka.gov.in" title="Govt. Of Karnataka"> <img src="images/karnataka.png"></a>
  
   </div>
  
   <div class="col-sm-8 small  background-blue text-centers text-white">
   
   
   Website Content Managed by Directorate of Minorities, Government of Karnataka. <br>
   Designed, Developed and Hosted by National Informatics Centre( NIC ).<br>
   Questions regarding content or presentation may be mail to: <strong>gokdom[at]gmail[dot]com</strong>       
   <br>
   Last Updated: <strong>20/12/2018</strong>
  </div>
  
  </div>
</div>
<!--DISCLAIMER<br/>Content Owned,Maintained and Updated by Directorate of Minorities, Government of Karnataka, This Website belongs to Directorate of Minorities,
   Questions regarding content or presentation may be mail to:gokdom[at]gmail[dot]com 
  <br/>Designed &amp; Hosted by : National Informatics Centre, Karnataka.<br/>-->
  
  <a id="gotop" href="#" style="display: block;">
    <i class="glyphicon glyphicon-chevron-up whitearrow"></i>
  </a>
  
<!-- Bootstrap core JavaScript
  ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  
  <script src="dist/js/bootstrap.min.js" type="text/javascript"></script>
  <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
  <script src="dist/ie10-viewport-bug-workaround.js" type="text/javascript"></script>


  

<script>
$('#gotop').fadeOut();			

$(window).on('scroll', 
function () 
{	


 if ($(this).scrollTop()) 
 {
$('#gotop').fadeIn();

} else {
$('#gotop').fadeOut();  
}
      
        });
            

$("#gotop").click(function(){  


$("html, body").animate({ scrollTop: 0 }, "slow");
return false;

});		 							
</script>
</div></div></div></div></div>
</div>
<div class="col-sm-2"></div>
</div>