<div class="sidebar">
  <a class="active" href="#home"><i class="fa fa-fw fa-home"></i>Home</a>
  <a href="#details"><i class="fa fa-fw fa-list"></i>Booking Details</a> 
  <a routerLinkActive="active" (click)="logout()" ><i class="fa fa-sign-out" aria-hidden="true"></i>Logout</a>
</div>
<div class="content" id="contact">
  <h2>Responsive Sidebar Example</h2>
  <p>This example use media queries to transform the sidebar to a top navigation bar when the screen size is 700px or less.</p>
  <p>We have also added a media query for screens that are 400px or less, which will vertically stack and center the navigation links.</p>
  <h3>Resize the browser window to see the effect.</h3>
</div>
