<ol class="breadcrumb" style="margin: 0 1%">
  <li><a href="#">Home</a></li>
  <li class="active">Project Monitoring Unit</li>
</ol>

<div class="row"  style="padding: 0% 2%">

    <div class="page-header center full-width">
    <h2>Project Monitoring Unit</h2>
  </div>
</div>

<div class="row" style="padding: 1% 10%">

  <div class="col-md-10">
			
    <!-- Row 1 -->
    <div class="row">
      <div class="col-md-4">
        <h3 class="text-center"><a href="http://164.100.133.165/Home/DistrictMap?id=1" target="_blank">Bengaluru</a></h3>
         
        <img src="assets/pmu/IMG-20180828-WA0001.jpg" width="142" height="135">
        <p>
          <strong>Name:</strong> Ajay.N.Biradar
          <br>
          <strong>Designation:</strong> Team Leader
          <br>
          <strong>Address:</strong> Ajay.N.Biradar s/o Nagendra Biradar Plot No 19 Swasti New Extension Village Hagarga Post Hagarga Dist Gulbarga-585102						<br>
          <strong>Contact:</strong> 8861942356/8904325374
          <br>
          <strong>Email:</strong> biradar.ajay81@gmail.com,cukmukajay@gmail.com
          <br>
          
        </p>
        </div>
        
        <div class="col-md-4">
        <h3 class="text-center"><a href="http://164.100.133.165/Home/DistrictMap?id=19" target="_blank">Gulbarga</a></h3>
         
        <img src="assets/pmu/Mohammed altaf Hussain.jpg" width="142" height="135">
        <p>
          <strong>Name:</strong> Mohammed Altaf Hussain
          <br>
          <strong>Designation:</strong> Project Manager
          <br>
          <strong>Address:</strong> P.No-174,Near Tayyaba masjid misbah nagar MSK Mill Jeelanabad Gulbarga-585103						<br>
          <strong>Contact:</strong> 9449786318/8861186606
          <br>
          <strong>Email:</strong> altaf_qc786@rediffmail.com
          <br>
          
        </p>
        </div>
      
<div class="col-md-4">
        <h3 class="text-center"><a href="http://164.100.133.165/Home/DistrictMap?id=29" target="_blank">Mysore</a></h3>
         
        <img src="assets/pmu/Ramesh T S.jpg" width="142" height="135">
        <p>
          <strong>Name:</strong> Ramesh T.S
          <br>
          <strong>Designation:</strong> Project Manager
          <br>
          <strong>Address:</strong> No.517-A,15th Main sarasnathipuram Mysore-570009					<br>
          <strong>Contact:</strong> 9686667555
          <br>
          <strong>Email:</strong> tsramesha@gmail.com
          <br>
          
        </p>
        </div>
      
<div class="col-md-4">
        <h3 class="text-center"><a href="http://164.100.133.165/Home/DistrictMap?id=11" target="_blank">Belagavi</a></h3>
         
        <img src="assets/pmu/Harsha R.jpg" width="142" height="135">
        <p>
          <strong>Name:</strong>Harsha.R
          <br>
          <strong>Designation:</strong> Project Manager
          <br>
          <strong>Address:</strong> #1075,2nd stage akkamahadevi road near pencea hospital J.P Nagar Mysore-570008					<br>
          <strong>Contact:</strong> 9845254599/9986801252
          <br>
          <strong>Email:</strong> harsha.r84@gmail.com
          <br>
          
        </p>
        </div>
      
<div class="col-md-4">
        <h3 class="text-center"><a href="http://164.100.133.165/Home/DistrictMap?id=1" target="_blank">Bengaluru</a></h3>
         
        <img src="assets/pmu/shankar chandu.jpg" width="142" height="135">
        <p>
          <strong>Name:</strong> Shankar Chandu
          <br>
          <strong>Designation:</strong> Project Manager
          <br>
          <strong>Address:</strong> F.402,G R L apartments Kotjnur dinne JP Nagar 7th Phase Bengaluru					<br>
          <strong>Contact:</strong> 9964450342
          <br>
          <strong>Email:</strong> sgchandu@hotmail.com
          <br>
          
        </p>
        </div>
      
<div class="col-md-4">
        <h3 class="text-center"><a href="http://164.100.133.165/Home/DistrictMap?id=1" target="_blank">Bengaluru</a></h3>
         
        <img src="assets/pmu/nagaraj R.jpg" width="142" height="135">
        <p>
          <strong>Name:</strong> Nagaraj R
          <br>
          <strong>Designation:</strong> Site Engineer
          <br>
          <strong>Address:</strong> s/o Revanna GT Malakalmur tq,Chitradurga(Dist),J.B.Halli(P) Dist-577540						<br>
          <strong>Contact:</strong> 9686885591
          <br>
          <strong>Email:</strong>lakkyraj700@gmail.com
          <br>
          
        </p>
        </div>
      
<div class="col-md-4">
        <h3 class="text-center"><a href="http://164.100.133.165/Home/DistrictMap?id=1" target="_blank">Bengaluru</a></h3>
         
        <img src="assets/pmu/Moinuddin Shariff.jpg" width="142" height="135">
        <p>
          <strong>Name:</strong> Moinuddin Shariff
          <br>
          <strong>Designation:</strong> Site Engineer
          <br>
          <strong>Address:</strong> No: 24/1 2nd Main road,chengaiah compound krishnappa garden Bengaluru						<br>
          <strong>Contact:</strong> 8123233854
          <br>
          <strong>Email:</strong> shariff8901@gmail.com
          <br>
          
        </p>
        </div>
      
<div class="col-md-4">
        <h3 class="text-center"><a href="http://164.100.133.165/Home/DistrictMap?id=29" target="_blank">Mysore</a></h3>
         
        <img src="assets/pmu/mohan kumar kn.jpg" width="142" height="135">
        <p>
          <strong>Name:</strong> Mohan Kumar K N
          <br>
          <strong>Designation:</strong> Site Engineer
          <br>
          <strong>Address:</strong> #21,Kodirala mirle(post)KR Nagara tq,Mysore Dt						<br>
          <strong>Contact:</strong> 8970752883
          <br>
          <strong>Email:</strong> mohankumarkn883@gmail.com
          <br>
          
        </p>
        </div>
      
<div class="col-md-4">
        <h3 class="text-center"><a href="http://164.100.133.165/Home/DistrictMap?id=26" target="_blank">Hassan</a></h3>
         
        <img src="assets/pmu/Abdul Wahab.jpg" width="142" height="135">
        <p>
          <strong>Name:</strong> Abdul Wahab
          <br>
          <strong>Designation:</strong> Site Engineer
          <br>
          <strong>Address:</strong> Buttaldinni Camp,Tq.Sindhanur-584128,Dist-Raichur						<br>
          <strong>Contact:</strong> 7026723149/8618949609
          <br>
          <strong>Email:</strong> wahab011997@gmail.com
          
        </p>
        </div>
      
<div class="col-md-4">
        <h3 class="text-center"><a href="http://164.100.133.165/Home/DistrictMap?id=11" target="_blank">Belgaum</a></h3>
         
        <img src="assets/pmu/AZEEM 001.jpg" width="142" height="135">
        <p>
          <strong>Name:</strong> Azeem.M.Magadi
          <br>
          <strong>Designation:</strong> Site Engineer
          <br>
          <strong>Address:</strong>#58,1st Cross,Noorani plot,Nekar nagar road,Hubballi-580024				<br>
          <strong>Contact:</strong> 9741317898
          <br>
          <strong>Email:</strong> azeemmagadi@gmail.com
          <br>
          
        </p>
        </div>
      
<div class="col-md-4">
        <h3 class="text-center"><a href="http://164.100.133.165/Home/DistrictMap?id=13" target="_blank">Dharwad</a></h3>
         
        <img src="assets/pmu/Kirthirathan.jpg" width="142" height="135">
        <p>
          <strong>Name:</strong> Kirthirathan
          <br>
          <strong>Designation:</strong> Site Engineer
          <br>
          <strong>Address:</strong> #373 CIB Colony behind central bus stand near ESI hospital gulbarga-585103						<br>
          <strong>Contact:</strong> 9686569999
          <br>
          <strong>Email:</strong> kirthiratan.civil@gmail.com
          <br>
          
        </p>
        </div>
      
<div class="col-md-4">
        <h3 class="text-center"><a href="http://164.100.133.165/Home/DistrictMap?id=19" target="_blank">Kalburgi</a></h3>
         
        <img src="assets/pmu/Sridhar BM.jpg" width="142" height="135">
        <p>
          <strong>Name:</strong> B M Shridar<br>
          <strong>Designation:</strong> Site Engineer
          <br>
          <strong>Address:</strong> "Bhavani Kunj" H No 1L366.306,new raghavendra colony brahmapur gulbarga-585103					<br>
          <strong>Contact:</strong>9964535111/8073997169
          <br>
          <strong>Email:</strong> sridharbm08@gmail.com
          <br>
          
        </p>
        </div>
      
<div class="col-md-4">
        <h3 class="text-center"><a href="http://164.100.133.165/Home/DistrictMap?id=21" target="_blank">Raichur</a></h3>
         
        <img src="assets/pmu/md munawar ali.jpg" width="142" height="135">
        <p>
          <strong>Name:</strong> MD Munawar Ali
          <br>
          <strong>Designation:</strong> Site Engineer
          <br>
          <strong>Address:</strong> H.No: 8-1-91/6 Multani Colony	,Bidar-585401					<br>
          <strong>Contact:</strong> 9480357783<br>
          <strong>Email:</strong> mdmunawarali023@gmail.com
          
        </p>
        </div>	
      </div>				
    </div>
<div class="col-sm-2"></div>
</div>