<ol class="breadcrumb" style="margin: 0 1%">
  <li><a href="#">Home</a></li>
  <li class="active">Right to Information</li>
</ol>

<div class="row"  style="padding: 0% 2%">

    <div class="page-header center full-width">
    <h2>Right to Information</h2>
  </div>
</div>

<div class="row" style="padding: 1% 10%">

<div class="col-md-10">
			
  <h4><a href="http://kic.gov.in"><i class="fa fa-globe"></i> Karnataka Information Commission Website</a></h4>
  
 <br>
          <a href="Documents\Notifications_Reports\RTI\RTI4(1)a.pdf"><i class="fa fa-chevron-right"></i>RTI 4 (1) a </a>
   <br>
   <a href="Documents\Notifications_Reports\RTI\RTI4(1)b.pdf"><i class="fa fa-chevron-right"></i>RTI 4 (1) b</a>
   <br>
   <a href="Documents\Notifications_Reports\RTI\Appellate.pdf"><i class="fa fa-chevron-right"></i> First Appellate Authority Under RTI Act 2005</a>
  <br>
  <br>
</div>
<div class="col-sm-2"></div>
</div>
