<ol _ngcontent-c3="" class="breadcrumb" style="
    margin: 0 1%;
"><li _ngcontent-c3=""><a _ngcontent-c3="" href="#">Home</a></li><li _ngcontent-c3="" class="active"> About Us </li><li _ngcontent-c3="" class="active">List of Directors</li></ol>

<div class="row"  style="padding: 0% 2%">
    <div class="page-header center full-width">
        <h2>List of Directors</h2>
      </div>
</div>

<div class="row" style="padding: 1% 10%">

    <div class="col-sm-1">

    </div>
  <div class="col-sm-10" style="text-align:justify">
      <table class="table table-hover">
          <thead>
            <tr style="border-top:none">
            <th>Sl No</th>
            <th>Director</th>
            <th>Period</th>
          </tr>
          </thead>
          <tbody>
            <tr>
            <td>1.</td>
            <td>J.D.Srishailam,IAS</td>
            <td>20.05.1999 to 23.08.1999</td> 
            </tr>
            <tr>
            <td>2.</td>
            <td>Sri.Rajneesh Goel,IAS</td>
            <td>04.11.1999 to 19.01.2000</td> 
            </tr>
            <tr>
            <td>3.</td>
            <td>Sri Veerabhadrachari</td>
            <td>19.01.2000 to 10.10.2000</td> 
            </tr>
            <tr>
            <td>4.</td>
            <td>Sri A.L.Umesh,IAS</td>
            <td>11.10.2000 to 27.07.2001</td> 
            </tr>
            <tr>
            <td>5.</td>
            <td>Sri.B.L.Vedhamurty,KAS</td>
            <td>27.07.2001 to 31.12.2003</td> 
            </tr>
            <tr>
            <td>6.</td>
            <td>Sri Mohammed Iqbal,(I/c)</td>
            <td>31.12.2003 to 07.02.2004</td> 
            </tr>
            <tr>
            <td>7.</td>
            <td>Sri.Meer Anees Ahmed,KAS</td>
            <td>07.02.2004 to 24.10.2005</td> 
            </tr>
            <tr>
            <td>8.</td>
            <td>Sri N.M.Panali,KAS</td>
            <td>24.10.2005 to 06.10.2008</td> 
            </tr>
            <tr>
            <td>9.</td>
            <td>Sri.M.Abdul Jabbar,KAS</td>
            <td>07.10.2008 to 28.02.2011</td> 
            </tr>
            <tr>
            <td>10.</td>
            <td>Sri.Ateeq Ahmed,KAS(I/C)</td>
            <td>28.02.2011 to 17.05.2011</td> 
            </tr> 
            <tr>
            <td>11.</td>
            <td>Sri Nusrathulla Sharieff,KMAS(I/C)</td>
            <td>17.05.2011 to 23.09.2011</td> 
            </tr> 
            <tr>
            <td>12.</td>
            <td>Smt.Sadiya Sulthana,KAS</td>
            <td>23.09.2011 to 27.08.2013</td> 
            </tr> 
            <tr>
            <td>13.</td>
            <td>Sri Akram Pasha,KAS</td>
            <td>28.08.2013 to date</td> 
            </tr>
            </tbody>
          </table>
  </div>
  <div class="col-sm-2">
    
    </div>

</div>